<div class="ca-service-lft-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-30 mx-auto">
                <div class="ca-project-content-area">
                    <div class="ca-pro-thumb-content ca-service-left-content">
                        <h2 class="ca-project-thumb-title theme-black-3 fnw-600 ca-text-cap">
                            {{ post?.title || 'Detalle de noticia' }}
                        </h2>
                        <p class="pt-16 pb-32">{{ post?.excerpt || '' }}</p>
                        <div class="ca-servic-cat">
                            <div class="ca-servic-cat-item mb-30">
                                <div class="ca-servic-cat-item-ic">
                                    <span><img src="assets/img/icon/user-1.1.svg" alt=""></span>
                                </div>
                                <div class="ca-servic-cat-item-content">
                                    <h3 class="ca-blog-cat-ttitle">
                                        <a href="javascript:void(0);">{{ post?.author_name || 'Laboratorio Euronutec' }}</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="ca-servic-cat-item mb-30">
                                <div class="ca-servic-cat-item-ic">
                                    <span><img src="assets/img/icon/ca-ser-cat-date.svg" alt=""></span>
                                </div>
                                <div class="ca-servic-cat-item-content">
                                    <h3 class="ca-blog-cat-ttitle">
                                        <a href="javascript:void(0);">{{ post?.published_at | date:'longDate' }}</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="ca-servic-cat-item mb-30">
                                <div class="ca-servic-cat-item-ic">
                                    <span><img src="assets/img/icon/ca-ser-cat-tag.svg" alt=""></span>
                                </div>
                                <div class="ca-servic-cat-item-content">
                                    <h3 class="ca-blog-cat-ttitle">
                                        <a href="javascript:void(0);">{{ post?.category?.name || 'Noticias' }}</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="ca-servic-thumb br-7">
                            <img class="w-100" [src]="post?.cover_image_url || 'assets/img/blog/ca-blog-thumb-1.1.png'" alt="">
                        </div>
                        @if (post?.section1_title || post?.section1_paragraph) {
                        <h3 class="ca-project-thumb-title-2 theme-black-3 fnw-600 pt-32 ca-text-cap">
                            {{ post?.section1_title }}
                        </h3>
                        <p class="pt-20">{{ post?.section1_paragraph }}</p>
                        }

                        @if (post?.section2_title || post?.section2_paragraph1 || post?.section2_paragraph2) {
                        <h3 class="ca-project-thumb-title-2 theme-black-3 fnw-600 pt-32 ca-text-cap">
                            {{ post?.section2_title }}
                        </h3>
                        @if (post?.section2_paragraph1) {
                        <p class="pt-20">{{ post?.section2_paragraph1 }}</p>
                        }
                        @if (post?.section2_paragraph2) {
                        <p class="pt-20">{{ post?.section2_paragraph2 }}</p>
                        }
                        }

                        @if (post?.section3_title || post?.section3_paragraph1 || post?.section3_paragraph2) {
                        <h3 class="ca-project-thumb-title-2 theme-black-3 fnw-600 pt-32 ca-text-cap">
                            {{ post?.section3_title }}
                        </h3>
                        @if (post?.section3_paragraph1) {
                        <p class="pt-20">{{ post?.section3_paragraph1 }}</p>
                        }
                        @if (post?.section3_paragraph2) {
                        <p class="pt-20">{{ post?.section3_paragraph2 }}</p>
                        }
                        }

                        @if (post?.section4_title || post?.section4_paragraph) {
                        <h3 class="ca-project-thumb-title-2 theme-black-3 fnw-600 pt-32 ca-text-cap">
                            {{ post?.section4_title }}
                        </h3>
                        <p class="pt-20">{{ post?.section4_paragraph }}</p>
                        }

                        @if (post?.blockquote) {
                        <div class="ca-about-item3 cream-bg-3 p-relative">
                            <p>{{ post?.blockquote }}</p>
                        </div>
                        }

                        @if (post?.section5_title || post?.section5_paragraph) {
                        <h3 class="ca-project-thumb-title-2 theme-black-3 fnw-600 pt-32 ca-text-cap">
                            {{ post?.section5_title }}
                        </h3>
                        <p class="pt-20">{{ post?.section5_paragraph }}</p>
                        }

                        <div class="ca-ab-item-check ca-ab-item-check-2 ca-ab-item-check-3 caborder-top">
                            <!-- single-item -->
                            @for (item of post?.checks; track $index) {
                            <div class="ca-ab-sngle-item">
                                <div class="ca-ab-sngle-item-ic">
                                    <span><i class="fa-solid fa-check"></i></span>
                                </div>
                                <div class="ca-ab-sngle-item-content">
                                    <h4 class="ca-item-ch-title">{{item.label}}</h4>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="ca-blog-tags-section">
                            <div class="ca-blog-tag-section">
                                <div class="ca-blg-tag-taile">
                                    <h4 class="ca-title fnw-600 theme-black-3">Tags:</h4>
                                </div>
                                <div class="ca-blg-tag-list">
                                    <ul>
                                        @for (tag of post?.tags || []; track tag.id) {
                                            <li><a href="javascript:void(0);">{{ tag.name }}</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>