<ngx-slick-carousel class="ca-hero1-active" [config]="slickConfig">
    <!-- single slider item -->
    <section ngxSlickItem class="ca-hero-area-1">
       <div class="ca-img1">
          <img src="assets/img/slider/hero1.png" alt="">
       </div>
       <div class="ca-img2">
          <img src="assets/img/slider/her-2-shape.png" alt="">
       </div>
       <div class="ca-hero-shape-1 p-absolute d-none d-lg-block">
          <img src="assets/img/shape/hero1-shape.png" alt="">
       </div>
       <div class="container">
          <div class="row">
             <div class="col-lg-6">
                <div class="ca-hero-content-1">
                   <h5 class="ca-section-subtitle subtitle-bg-10 p-relative br-50">Cargon-Transport & Logistics</h5>
                   <h1 class="ca-slide-title-1 ca-text-cap">Seamless Transport And Logistics for a Global Reach</h1>
                   <p class="ca-text-cap">At Cargon, we are dedicated to driving your business forward with our reliable <br> and efficient transport and logistics solutions. With a global reach and local <br> expertise, we seamlessly connect the world through our comprehensive.</p>
                   <!-- slider btn -->
                   <div class="ca-sli-btn-1 mt-32">
                      <div class="ca-btn-1">
                         <a href="javascript:void(0);" class="ca-btn-primary theme-bg-1 text-white br-50 ca-text-cap">Our Service<span><i class="fa-solid fa-angle-right"></i></span></a>
                      </div>
                      <div class="ca-vid-content">
                         <div class="ca-vd-ply-btn">
                            <div class="wrapper">
                               <div class="video-main">
                                  <div class="promo-video">
                                     <div class="waves-block">
                                        <div class="waves wave-1"></div>
                                        <div class="waves wave-2"></div>
                                        <div class="waves wave-3"></div>
                                     </div>
                                  </div>
                                  <a href="https://www.youtube.com/watch?v=HkYGxh1XUGQ" class="video popup-video"><i class="fa fa-play"></i></a>
                               </div>
                            </div>
                         </div>
                         <div class="ca-vd-py-text">
                            <a href="https://www.youtube.com/watch?v=HkYGxh1XUGQ" class="popup-video"><span>How We Work</span></a>
                         </div>
                      </div>
                      
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- single slider item -->
    <section ngxSlickItem class="ca-hero-area-1">
       <div class="ca-img1">
          <img src="assets/img/slider/hero1.png" alt="">
       </div>
       <div class="ca-img2">
          <img src="assets/img/slider/her-2-shape.png" alt="">
       </div>
       <div class="ca-hero-shape-1 p-absolute d-none d-lg-block">
          <img src="assets/img/shape/hero1-shape.png" alt="">
       </div>
       <div class="container">
          <div class="row">
             <div class="col-lg-6">
                <div class="ca-hero-content-1">
                   <h5 class="ca-section-subtitle subtitle-bg-10 p-relative br-50">Cargon-Transport & Logistics</h5>
                   <h1 class="ca-slide-title-1 ca-text-cap">Seamless Transport And Logistics for a Global Reach</h1>
                   <p class="ca-text-cap">At Cargon, we are dedicated to driving your business forward with our reliable <br> and efficient transport and logistics solutions. With a global reach and local <br> expertise, we seamlessly connect the world through our comprehensive.</p>
                   <!-- slider btn -->
                   <div class="ca-sli-btn-1 mt-32">
                      <div class="ca-btn-1">
                         <a href="javascript:void(0);" class="ca-btn-primary theme-bg-1 text-white br-50 ca-text-cap">Our Service<span><i class="fa-solid fa-angle-right"></i></span></a>
                      </div>
                      <div class="ca-vid-content">
                         <div class="ca-vd-ply-btn">
                            <div class="wrapper">
                               <div class="video-main">
                                  <div class="promo-video">
                                     <div class="waves-block">
                                        <div class="waves wave-1"></div>
                                        <div class="waves wave-2"></div>
                                        <div class="waves wave-3"></div>
                                     </div>
                                  </div>
                                  <a href="https://www.youtube.com/watch?v=HkYGxh1XUGQ" class="video popup-video"><i class="fa fa-play"></i></a>
                               </div>
                            </div>
                         </div>
                         <div class="ca-vd-py-text">
                            <a href="https://www.youtube.com/watch?v=HkYGxh1XUGQ" class="popup-video"><span>How We Work</span></a>
                         </div>
                      </div>
                      
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- single slider item -->
    <section ngxSlickItem class="ca-hero-area-1">
       <div class="ca-img1">
          <img src="assets/img/slider/hero1.png" alt="">
       </div>
       <div class="ca-img2">
          <img src="assets/img/slider/her-2-shape.png" alt="">
       </div>
       <div class="ca-hero-shape-1 p-absolute d-none d-lg-block">
          <img src="assets/img/shape/hero1-shape.png" alt="">
       </div>
       <div class="container">
          <div class="row">
             <div class="col-lg-6">
                <div class="ca-hero-content-1">
                   <h5 class="ca-section-subtitle subtitle-bg-10 p-relative br-50">Cargon-Transport & Logistics</h5>
                   <h1 class="ca-slide-title-1 ca-text-cap">Seamless Transport And Logistics for a Global Reach</h1>
                   <p class="ca-text-cap">At Cargon, we are dedicated to driving your business forward with our reliable <br> and efficient transport and logistics solutions. With a global reach and local <br> expertise, we seamlessly connect the world through our comprehensive.</p>
                   <!-- slider btn -->
                   <div class="ca-sli-btn-1 mt-32">
                      <div class="ca-btn-1">
                         <a href="javascript:void(0);" class="ca-btn-primary theme-bg-1 text-white br-50 ca-text-cap">Our Service<span><i class="fa-solid fa-angle-right"></i></span></a>
                      </div>
                      <div class="ca-vid-content">
                         <div class="ca-vd-ply-btn">
                            <div class="wrapper">
                               <div class="video-main">
                                  <div class="promo-video">
                                     <div class="waves-block">
                                        <div class="waves wave-1"></div>
                                        <div class="waves wave-2"></div>
                                        <div class="waves wave-3"></div>
                                     </div>
                                  </div>
                                  <a href="https://www.youtube.com/watch?v=HkYGxh1XUGQ" class="video popup-video"><i class="fa fa-play"></i></a>
                               </div>
                            </div>
                         </div>
                         <div class="ca-vd-py-text">
                            <a href="https://www.youtube.com/watch?v=HkYGxh1XUGQ" class="popup-video"><span>How We Work</span></a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
</ngx-slick-carousel>
