<section class="ca-sponsor-area pt-100 pb-70">
    <div class="container">
        <div class="ca-sponsor-content-4 text-center mb-60 aos-init aos-animate" data-aos="fade-up"
            data-aos-duration="800">
            <h5 class="ca-section-subtitle subtitle-bg-8 p-relative theme-black-4 br-50">Happy Client And Sponsor</h5>
            <h2 class="ca-section-title theme-black-4 fnw-600 pt-16 ca-text-cap">Trusted By Our 356.00 Clients</h2>
        </div>
    </div>
    <!-- brand logo 1 -->
    <ngx-slick-carousel [config]="brandSlider" class="ca-brand-slides mb-24">
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-1.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-2.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-3.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-4.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-5.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-6.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-3.png" alt="">
        </div>
    </ngx-slick-carousel>
    <!-- brand logo 2 -->
    <ngx-slick-carousel [config]="barndSlider2" class="ca-brand-slides-2" dir="rtl">
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-1.1.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-1.2.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-1.3.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-1.4.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-1.5.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-1.6.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-1.4.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-1.3.png" alt="">
        </div>
        <div ngxSlickItem class="ca-brand-item">
            <img src="assets/img/brand/brand-1.2.png" alt="">
        </div>
    </ngx-slick-carousel>
</section>