<section class="ca-about-3 cream-bg-3 pt-100 pb-70">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 mb-30">
             <div class="ca-choose-content3">
                <div class="ca-about-content-3 ca-sec-content-3">
                   <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Why Choose Us</h5>
                   <h2 class="ca-section-title theme-black-3 fnw-600 pt-16 ca-text-cap">Meet the Team: Experts in Logistics Management</h2>
                   <p class="pt-16 pb-40">We pride ourselves on our global reach and local expertise, allowing us to offer tailored services that meet the unique needs of each client. At Cargon, we are <br> not just moving goods; we are driving success and creating opportunities.</p>
                </div>
                <div class="row">
                   <div class="col-lg-6 col-md-6">
                      <!-- single box item -->
                      <div class="ca-iner-ch-box-content mb-40">
                         <h4 class="ca-title fnw-600 theme-black-2 pb-16">Supply Chain Management</h4>
                         <p>With years of industry experience and a commitment to innovation, we have become leaders </p>
                      </div>
                   </div>
                   <div class="col-lg-6 col-md-6">
                      <!-- single box item -->
                      <div class="ca-iner-ch-box-content mb-40">
                         <h4 class="ca-title fnw-600 theme-black-2 pb-16">Supply Chain Management</h4>
                         <p>With years of industry experience and a commitment to innovation, we have become leaders </p>
                      </div>
                   </div>
                </div>
                <div class="ca-about-3-btn">
                   <a href="javascript:void(0);" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Learn More<span><i class="fa-solid fa-angle-right"></i></span></a>
                </div>
             </div>
          </div>
          <div class="col-lg-6 mb-30">
             <div class="ca-choose-img p-relative z-index-1">
                <img class="w-100 wow img-custom-anim-left" data-wow-duration="1.5s" data-wow-delay=".2s" src="assets/img/about/ca-choose-ing1.1.png" alt="">
                <div class="ca-ch-butom-img p-absolute">
                   <img class="w-100 wow img-custom-anim-left" data-wow-duration="1.5s" data-wow-delay=".3s" src="assets/img/about/ca-ch-2.png" alt="">
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>