<div class="sidebar">
  <div class="sidebar-header">
      <img src="assets/img/logo/laboratorio-euronutec-light.png" alt="">
    <p>Panel Admin</p>
  </div>
  
  <div class="sidebar-menu">
    <ul>
      <li>
        <a routerLink="/admin/dashboard" routerLinkActive="active">
          <i class="bi bi-speedometer2"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/slider" routerLinkActive="active">
          <i class="bi bi-images"></i>
          <span>Slider</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/servicios" routerLinkActive="active">
          <i class="bi bi-speedometer"></i>
          <span>Servicios</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/noticias" routerLinkActive="active">
          <i class="bi bi-newspaper"></i>
          <span>Noticias</span>
        </a>
      </li>
      <li *ngIf="authService.isAdmin()">
        <a routerLink="/admin/usuarios" routerLinkActive="active">
          <i class="bi bi-people"></i>
          <span>Usuarios</span>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="sidebar-footer">
    <a (click)="authService.logout()" class="logout-btn">
      <i class="bi bi-box-arrow-right"></i>
      <span>Cerrar sesión</span>
    </a>
  </div>
</div>
