<section class="ca-portfilo-2 pt-100 pb-70">
    <div class="container">
       <div class="ca-portfolio-content-2 ca-sec-content-2 text-center mb-60 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
          <h5 class="ca-section-subtitle subtitle-bg-4 p-relative theme-color-2">Our Projects</h5>
          <h2 class="ca-section-title theme-black-2 fnw-600 pt-16 ca-text-cap">Innovative Solutions in Action</h2>
          <p class="pt-16"> We take pride in delivering tailored solutions that meet the unique needs of our<br> clients across various industries. From complex international shipments.</p>
       </div>
       <div class="row">
          <div class="col-lg-4 mb-30">
             <div class="ca-portfolio-2-item p-relative z-index-1 fix aos-init aos-animate" data-aos="zoom-out" data-aos-duration="800">
                <img class="w-100" src="assets/img/portfolio/project-2.1.png" alt="">
                <div class="ca-portfolio-2-overlay-content p-absolute">
                   <a routerLink="/project-single" class="ca-port-2-icon">
                   <span><img src="assets/img/icon/arrow-2.1.svg" alt=""></span>
                   </a>
                   <div class="ca-port-2-desg">
                      <p class="fnw-600 pt-24 pb-16">Transportation 2024</p>
                   </div>
                   <div class="ca-port-2-content">
                      <h4 class="ca-title fnw-600 text-white pb-16"><a routerLink="/project-single">Customs Clearance Excellence</a></h4>
                      <p>Explore our case studies achievements <br> to see how we have transformed.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-8">
             <div class="row">
                <div class="col-lg-7 col-md-6 mb-30">
                   <div class="ca-portfolio-2-item item-1-img p-relative z-index-1 fix aos-init aos-animate" data-aos="zoom-out-down" data-aos-duration="1000">
                      <img class="w-100" src="assets/img/portfolio/ca-port2.2.png" alt="">
                      <div class="ca-portfolio-2-overlay-content pitem2 p-absolute">
                         <a routerLink="/project-single" class="ca-port-2-icon">
                         <span><img src="assets/img/icon/arrow-2.1.svg" alt=""></span>
                         </a>
                         <div class="ca-port-2-desg">
                            <p class="fnw-600 pt-24 pb-16">Transportation 2024</p>
                         </div>
                         <div class="ca-port-2-content">
                            <h4 class="ca-title fnw-600 text-white pb-16"><a routerLink="/project-single">Customs Clearance Excellence</a></h4>
                            <p>Explore our case studies <br> to see how we have transformed.</p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-lg-5 col-md-6 mb-30">
                   <div class="ca-portfolio-2-item item-1-img p-relative z-index-1 fix aos-init aos-animate" data-aos="zoom-out-down" data-aos-duration="1200">
                      <img class="w-100" src="assets/img/portfolio/ca-port2.3.png" alt="">
                      <div class="ca-portfolio-2-overlay-content pitem2 p-absolute">
                         <a routerLink="/project-single" class="ca-port-2-icon">
                         <span><img src="assets/img/icon/arrow-2.1.svg" alt=""></span>
                         </a>
                         <div class="ca-port-2-desg">
                            <p class="fnw-600 pt-24 pb-16">Transportation 2024</p>
                         </div>
                         <div class="ca-port-2-content">
                            <h4 class="ca-title fnw-600 text-white pb-16"><a routerLink="/project-single">Customs Excellence</a></h4>
                            <p>Explore our case studies <br> to see how we have transformed.</p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-30">
                   <div class="ca-portfolio-2-item item-1-img p-relative z-index-1 fix  aos-init aos-animate" data-aos="zoom-out-down" data-aos-duration="1400">
                      <img class="w-100" src="assets/img/portfolio/project-2.4.png" alt="">
                      <div class="ca-portfolio-2-overlay-content pitem2 p-absolute">
                         <a routerLink="/project-single" class="ca-port-2-icon">
                         <span><img src="assets/img/icon/arrow-2.1.svg" alt=""></span>
                         </a>
                         <div class="ca-port-2-desg">
                            <p class="fnw-600 pt-24 pb-16">Transportation 2024</p>
                         </div>
                         <div class="ca-port-2-content">
                            <h4 class="ca-title fnw-600 text-white pb-16"><a routerLink="/project-single">Customs Clearance Excellence</a></h4>
                            <p>Explore our case studies <br> to see how we have transformed.</p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-30">
                   <div class="ca-portfolio-2-item item-1-img p-relative z-index-1 fix aos-init aos-animate" data-aos="zoom-out-down" data-aos-duration="1600">
                      <img class="w-100" src="assets/img/portfolio/prject-2.5.png" alt="">
                      <div class="ca-portfolio-2-overlay-content pitem2 p-absolute">
                         <a routerLink="/project-single" class="ca-port-2-icon">
                         <span><img src="assets/img/icon/arrow-2.1.svg" alt=""></span>
                         </a>
                         <div class="ca-port-2-desg">
                            <p class="fnw-600 pt-24 pb-16">Transportation 2024</p>
                         </div>
                         <div class="ca-port-2-content">
                            <h4 class="ca-title fnw-600 text-white pb-16"><a routerLink="/project-single">Customs Clearance Excellence</a></h4>
                            <p>Explore our case studies <br> to see how we have transformed.</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section> 