<section class="ca-breadcrumb-area cream-bg-3 p-relative z-index-1 fix">
    <div class="ca-breadcrumb-shape p-absolute bre-sh-1">
        <img src="assets/img/shape/breadcrumn-shape.png" alt="">
    </div>
    <div class="ca-breadcrumb-shape p-absolute bre-sh-2">
        <img src="assets/img/shape/ca-line-shape.png" alt="">
    </div>
    <div class="container">
        <div class="ca-breadcrumb-content text-center">
            @if(title && !subTitle){
            <h2 class="ca-breadcrumb-title fnw-600">{{ title }}</h2>
            }
            @if(title && subTitle){
            <h2 class="ca-breadcrumb-title fnw-600" >{{ subTitle }}</h2>
            }
            <div class="it-breadcum-link">
              <a [routerLink]="['/']">Home</a>
              <span><i class="fa-solid fa-angle-right"></i></span>
              @if(title){
              <a [routerLink]="breadRouter">{{ title }}</a>
              }
              @if(title && subTitle){
              <span><i class="fa-solid fa-angle-right"></i></span>
              <a  class="active" href="javascript:void(0);">{{ subTitle }}</a>
              }
            </div>
          
        </div>
    </div>
</section>