<div class="ca-cta-area-2 p-relative z-index-1 fix">
    <div class="cta-shape-2 c-shape-1 p-absolute">
        <img src="assets/img/shape/cat-shape-2.1.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="ca-cta-2 theme-black-bg-2 fix">
                    <div class="row">
                        <div class="col-lg-7 mb-30">
                            <div class="ca-cta-content aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
                                <h2 class="ca-section-title cta-title-1 text-white fnw-700 pb-32 ca-text-cap">Join Us
                                    Today And let Us Help <br> You To Grow Your Business.</h2>
                                <div class="ca-btn-cta-2">
                                    <a routerLink="/contact" class="ca-btn-primary-22">Get Started<span><i
                                                class="fa-solid fa-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mb-30">
                            <div class="cta-shape-2 c-shape-2 p-absolute aos-init aos-animate" data-aos="fade-down"
                                data-aos-duration="800">
                                <img src="assets/img/about/ca-cta-2.1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>