<section class="ca-faq-area pt-100 pb-70">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-5 mb-30 aos-init aos-animate" data-aos="zoom-out" data-aos-duration="800">
             <div class="ca-faq-content ca-sec-content-2">
                <h5 class="ca-section-subtitle subtitle-bg-4 p-relative theme-color-2">Asked Questions</h5>
                <h2 class="ca-about-title theme-black-2 fnw-600 pt-16 ca-text-cap">Everything You Need to Know Help & Support</h2>
                <p class="pt-22 pb-32">Our clients satisfaction is the cornerstone of our success at Cargon<br> We take immense pride in the positive feedback we receive from businesses worldwide who rely on our expertise for their.</p>
             </div>
             <div class="ca-faq-img-2 mr-50">
                <img class="w-100" src="assets/img/faq/ca-faq-2.1.png" alt="">
             </div>
          </div>
          <div class="col-lg-7 mb-30">
             <div class="ca-acordion-area ml-50 aos-init aos-animate" data-aos="zoom-out-down" data-aos-duration="1000">
                <div class="accordion" id="accordionExample" ngbAccordion [closeOthers]="true">
                   <!-- single accordion item -->
                   <div class="ca-accordion-item mb-24" ngbAccordionItem [collapsed]="false">
                      <h2 class="ca-accordion-header" id="headingTwo" ngbAccordionHeader>
                         <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         What is your policy on damaged or lost goods?
                         </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" ngbAccordionCollapse aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                         <div class="ca-accordion-body" ngbAccordionBody>
                            <p>That's why we've compiled a list of frequently asked questions to help you get the <br> answers you need quickly and easily. Whether you're curious about our range of<br> services, need information on tracking your shipment, or want to understand.</p>
                         </div>
                      </div>
                   </div>
                   <!-- single accordion item -->
                   <div class="ca-accordion-item mb-24" ngbAccordionItem>
                      <h2 class="ca-accordion-header" id="headingOne" ngbAccordionHeader>
                         <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         What should I do if my shipment is delayed?
                         </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" ngbAccordionCollapse aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                         <div class="ca-accordion-body" ngbAccordionBody>
                            <p>That's why we've compiled a list of frequently asked questions to help you get the <br> answers you need quickly and easily. Whether you're curious about our range of<br> services, need information on tracking your shipment, or want to understand.</p>
                         </div>
                      </div>
                   </div>
                   <!-- single accordion item -->
                   <div class="ca-accordion-item mb-24" ngbAccordionItem>
                      <h2 class="ca-accordion-header" id="headingThree" ngbAccordionHeader>
                         <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         Can you handle oversized or special cargo?
                         </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" ngbAccordionCollapse aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                         <div class="ca-accordion-body" ngbAccordionBody>
                            <p>That's why we've compiled a list of frequently asked questions to help you get the <br> answers you need quickly and easily. Whether you're curious about our range of<br> services, need information on tracking your shipment, or want to understand.</p>
                         </div>
                      </div>
                   </div>
                   <!-- single accordion item -->
                   <div class="ca-accordion-item mb-24" ngbAccordionItem>
                      <h2 class="ca-accordion-header" id="headingFour" ngbAccordionHeader>
                         <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         What types of goods can you transport?
                         </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" ngbAccordionCollapse aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                         <div class="ca-accordion-body" ngbAccordionBody>
                            <p>That's why we've compiled a list of frequently asked questions to help you get the <br> answers you need quickly and easily. Whether you're curious about our range of<br> services, need information on tracking your shipment, or want to understand.</p>
                         </div>
                      </div>
                   </div>
                   <!-- single accordion item -->
                   <div class="ca-accordion-item mb-24" ngbAccordionItem>
                      <h2 class="ca-accordion-header" id="headingFive" ngbAccordionHeader>
                         <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                         How can I get a quote for my shipment?
                         </button>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" ngbAccordionCollapse aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                         <div class="ca-accordion-body" ngbAccordionBody>
                            <p>That's why we've compiled a list of frequently asked questions to help you get the <br> answers you need quickly and easily. Whether you're curious about our range of<br> services, need information on tracking your shipment, or want to understand.</p>
                         </div>
                      </div>
                   </div>
                   <!-- single accordion item -->
                   <div class="ca-accordion-item" ngbAccordionItem>
                      <h2 class="ca-accordion-header" id="headingSix" ngbAccordionHeader>
                         <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                         How do you ensure the safety and security of my goods?
                         </button>
                      </h2>
                      <div id="collapseSix" class="accordion-collapse collapse" ngbAccordionCollapse aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                         <div class="ca-accordion-body" ngbAccordionBody>
                            <p>That's why we've compiled a list of frequently asked questions to help you get the <br> answers you need quickly and easily. Whether you're curious about our range of<br> services, need information on tracking your shipment, or want to understand.</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>