<section class="ca-contact-area-2 p-relative z-index-1 fix pt-100 pb-70" style="background-image: url(./assets/img/contact/contact-bg-2.1.png);">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 mb-30">
             <div class="ca-contact-from ca-contact-from-2 off-wh aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                <div class="ca-contact-content-2">
                   <h4 class="ca-contact-title-2 theme-black-2 fnw-600">Send Us A Message</h4>
                   <p class="pt-16 pb-24">Our response time is within 30 minutes during business hours</p>
                </div>
                <form action="#">
                   <div class="row">
                      <div class="col-md-6 mb-20">
                         <input type="text" placeholder="First Name">
                      </div>
                      <div class="col-md-6 mb-20">
                         <input type="text" placeholder="Last Name">
                      </div>
                      <div class="col-md-6 mb-20">
                         <input type="tel" placeholder="Phone Number">
                      </div>
                      <div class="col-md-6 mb-20">
                         <input type="email" placeholder="Email Address">
                      </div>
                      <div class="col-md-12 mb-20">
                         <select class="nice-select wide ca-select">
                            <option data-display="Service Type">Nothing</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                         </select>
                      </div>
                      <div class="col-md-12 mb-20">
                         <textarea name="message" id="mesage" placeholder="Message"></textarea>
                      </div>
                      <div class="submit-btn">
                         
                         <button class="ca-btn-primary-22" type="submit" value="submit"> Submit Now <span><i class="fa-solid fa-arrow-right"></i></span></button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
          <div class="col-lg-6 mb-30 d-none d-lg-block">
             <div class="ca-location-area2 p-relative z-index-1 aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000">
                <!-- single item -->
                <div class="ca-location-item p-absolute ca-lca-1">
                   <img src="assets/img/contact/ca-man2.1.png" alt="">
                   <div class="ca-top-lc">
                      <img src="assets/img/icon/ca-lc-2.1.svg" alt="">
                   </div>
                   <div class="ca-lc-box">
                      <p>198 West 21th Street,<br>New York NY City 1010</p>
                   </div>
                </div>
                <!-- single item -->
                <div class="ca-location-item p-absolute ca-lca-2">
                   <img src="assets/img/contact/ca-man2.1.png" alt="">
                   <div class="ca-top-lc">
                      <img src="assets/img/icon/ca-lc-2.1.svg" alt="">
                   </div>
                   <div class="ca-lc-box">
                      <p>198 West 21th Street,<br>New York NY City 1010</p>
                   </div>
                </div>
                <!-- single item -->
                <div class="ca-location-item p-absolute ca-lca-3">
                   <img src="assets/img/contact/ca-man2.3.png" alt="">
                   <div class="ca-top-lc">
                      <img src="assets/img/icon/ca-lc-2.1.svg" alt="">
                   </div>
                   <div class="ca-lc-box">
                      <p>198 West 21th Street,<br>New York NY City 1010</p>
                   </div>
                </div>
                <!-- single item -->
                <div class="ca-location-item p-absolute ca-lca-4">
                   <img src="assets/img/contact/ca-man2.4.png" alt="">
                   <div class="ca-top-lc">
                      <img src="assets/img/icon/ca-lc-2.1.svg" alt="">
                   </div>
                   <div class="ca-lc-box">
                      <p>198 West 21th Street,<br>New York NY City 1010</p>
                   </div>
                </div>
                <!-- single item -->
                <div class="ca-location-item p-absolute ca-lca-5">
                   <img src="assets/img/contact/ca-man2.5.png" alt="">
                   <div class="ca-top-lc">
                      <img src="assets/img/icon/ca-lc-2.1.svg" alt="">
                   </div>
                   <div class="ca-lc-box">
                      <p>198 West 21th Street,<br>New York NY City 1010</p>
                   </div>
                </div>
                <!-- single item -->
                <div class="ca-location-item p-absolute ca-lca-6">
                   <img src="assets/img/contact/ca-man2.6.png" alt="">
                   <div class="ca-top-lc">
                      <img src="assets/img/icon/ca-lc-2.1.svg" alt="">
                   </div>
                   <div class="ca-lc-box">
                      <p>198 West 21th Street,<br>New York NY City 1010</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>