 <section class="ca-about-2 pt-100 pb-70">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 mb-30">
                     <div class="ca-about-content-2 ca-sec-content-2 mb-40 aos-init aos-animate" data-aos="fade-down" data-aos-duration="800">
                        <h5 class="ca-section-subtitle subtitle-bg-4 p-relative theme-color-2">Why Choose Us</h5>
                        <h2 class="ca-about-title theme-black-2 fnw-600 pt-16 ca-text-cap">Meet the Team: Experts in Logistics Management</h2>
                        <p class="pt-16">We pride ourselves on our global reach and local expertise, allowing us to offer <br>tailored services that meet the unique needs of each client. At Cargon, we are<br> not just moving goods; we are driving success and creating opportunities.</p>
                     </div>
                     <div class="row">
                        <div class="col-lg-6 col-md-6">
                           <div class="ca-choose-item p-relative aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                              <h4 class="ca-title fnw-600 theme-black-2 pb-16">Warehousing Solutions</h4>
                              <p>With years of industry experience <br> and a commitment to innovation,<br> we have become leaders. </p>
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                           <div class="ca-choose-item p-relative aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
                              <h4 class="ca-title fnw-600 theme-black-2 pb-16">Supply Chain Management</h4>
                              <p>Our dedicated team of experts <br>works tirelessly to ensure that your goods are transported safely.</p>
                           </div>
                        </div>
                     </div>
                     <div class="ca-about-2-btn d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-duration="1400">
                        <a routerLink="/contact" class="ca-btn-primary-22">Learn More<span><i class="fa-solid fa-arrow-right"></i></span></a>
                        <div class="ca-about-2-contact d-flex align-items-center">
                           <div class="ca-about-2-icon">
                              <img src="assets/img/icon/about-2.svg" alt="">
                           </div>
                           <div class="ca-about-2-content">
                              <p>Call Us Now</p>
                              <a href="tel:1234567890" class="ca-about-2-num">123-456-7890</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 mb-30">
                     <div class="ca-about-2-img p-relative z-index-1">
                        <img class="aos-init aos-animate" data-aos="fade-left" data-aos-duration="800" src="assets/img/about/about-2.1.png" alt="">
                        <div class="ca-about-2-overlay p-absolute aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000">
                           <img src="assets/img/about/about-2.2.png" alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>