<section class="ca-contact-area p-relative z-index-1 fix">
    <div class="ca-contact-shape-1">
       <img src="assets/img/shape/ca-plane-1.1.png" alt="">
    </div>
    <div class="ca-contact-shape-2">
       <img src="assets/img/shape/ca-ft-shape4.1.png" alt="">
    </div>
    <div class="ca-contact-shape-img1">
       <img src="assets/img/contact/ca-contact-shape-1.1.png" alt="">
    </div>
    <div class="ca-contact-shape-img2 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
       <img src="assets/img/contact/ca-contact-shape1.2.png" alt="">
    </div>
    <div class="container">
       <div class="row">
          <div class="col-lg-7"></div>
          <div class="col-lg-5 mb-30">
             <div class="ca-contact aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200">
                <h5 class="ca-section-subtitle subtitle-bg-1 p-relative theme-color-1 br-50">Contact Us</h5>
                <h2 class="ca-section-title theme-black-1 fnw-600 pt-16 ca-text-cap">Get in Touch with Us</h2>
                <p class="pt-16 pb-24"> Whether you have questions about Nuestros servicios, need<br> advice on pool maintenance, or want to schedule.</p>
                <div class="ca-contact-from">
                   <form action="#">
                      <div class="row">
                         <div class="col-md-6 mb-20">
                            <input type="text" placeholder="First Name">
                         </div>
                         <div class="col-md-6 mb-20">
                            <input type="text" placeholder="Last Name">
                         </div>
                         <div class="col-md-6 mb-20">
                            <input type="tel" placeholder="Phone Number">
                         </div>
                         <div class="col-md-6 mb-20">
                            <input type="email" placeholder="Email Address">
                         </div>
                         <div class="col-md-12 mb-20">
                            <select class="nice-select wide ca-select">
                               <option data-display="Service Type">Nothing</option>
                               <option value="1">01</option>
                               <option value="2">02</option>
                               <option value="3">03</option>
                               <option value="4">04</option>
                            </select>
                         </div>
                         <div class="col-md-12">
                            <textarea name="message" id="message" placeholder="Message"></textarea>
                         </div>
                         <div class="submit-btn">
                            <button class="ca-btn-primary theme-bg-1 text-white br-50 mt-12" type="submit" value="submit"> Submit Now <span><i class="fa-solid fa-angle-right"></i></span></button>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>