<app-navbar [headerClass]="'header-2 stiky'" [navClass]="'ca-mobile-menu-active-2'" [containerClass]="'ca-header-bg-2'"
    [logo]="'assets/img/logo/ca-logo2.1.png'" [mainNavClass]="'ca-main-menu-2'" buttonText="Get A Free Quote"
    buttonLink="/contact" buttonClass="ca-btn-primary-22" [showMobileMenu]="true" />

<main>
    <app-hero2 />
    <app-about2 />
    <app-service2 />
    <app-portfolio2 />
    <app-testimonial2 />
    <app-faq2 />
    <app-contact2 />
    <app-blog2 />
    <app-cta2 />
</main>
<app-footer2 />

<button id="topBtn2" (click)="scrollToTop($event)"><i class="fa-solid fa-arrow-up"></i></button>