<section class="ca-testimonial2 theme-black-bg-2 pt-100 pb-70">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-6">
             <div class="ca-testimonial-content ca-sec-content-2 mb-60 aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                <h5 class="ca-section-subtitle subtitle-bg-5 text-white p-relative theme-color-2">Our Testimonial</h5>
                <h2 class="ca-about-title text-white fnw-600 pt-16 ca-text-cap">Testimonials from Our<br> Valued Customers</h2>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="ca-about-desc mb-60 aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000">
                <p class="text-white">Our clients satisfaction is the cornerstone of our success at Cargon<br> We take immense pride in the positive feedback we receive from<br> businesses worldwide who rely on our expertise for their.</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="ca-testimonials">
             <ngx-slick-carousel [config]="testimonialConfig" class="ca-testimonial-2">
                <!-- testimonial-item -->
                <div ngxSlickItem class="ca-testimonial-card">
                   <div class="ca-test-2-icon">
                      <span><img src="assets/img/icon/ca-test-2-qu.svg" alt=""></span>
                   </div>
                   <div class="ca-test-2-rating">
                      <div class="ca-ratings">
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                      </div>
                      <div class="ca-rating-num">
                         <h4 class="ca-rating-title-2">(5) <span>Rating</span></h4>
                      </div>
                   </div>
                   <div class="ca-test-2-content">
                      <p>“Our clients' satisfaction is the cornerstone of our success. We take immense pride in the positive feedback we receive from businesses across various industries.”</p>
                   </div>
                   <div class="ca-test-2-user">
                      <div class="ca-test-2-user-img">
                         <span><img src="assets/img/testimonial/testimonial-2.1.png" alt=""></span>
                      </div>
                      <div class="ca-test-2-user-name">
                         <h4 class="test-2-title">Sunil Narine</h4>
                         <span>Happy Client</span>
                      </div>
                   </div>
                </div>
                <!-- testimonial-item -->
                <div ngxSlickItem class="ca-testimonial-card">
                   <div class="ca-test-2-icon">
                      <span><img src="assets/img/icon/ca-test-2-qu.svg" alt=""></span>
                   </div>
                   <div class="ca-test-2-rating">
                      <div class="ca-ratings">
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                      </div>
                      <div class="ca-rating-num">
                         <h4 class="ca-rating-title-2">(5) <span>Rating</span></h4>
                      </div>
                   </div>
                   <div class="ca-test-2-content">
                      <p>“Our clients' satisfaction is the cornerstone of our success. We take immense pride in the positive feedback we receive from businesses across various industries.”</p>
                   </div>
                   <div class="ca-test-2-user">
                      <div class="ca-test-2-user-img">
                         <span><img src="assets/img/testimonial/testimonial-2.1.png" alt=""></span>
                      </div>
                      <div class="ca-test-2-user-name">
                         <h4 class="test-2-title">Sunil Narine</h4>
                         <span>Happy Client</span>
                      </div>
                   </div>
                </div>
                <!-- testimonial-item -->
                <div ngxSlickItem class="ca-testimonial-card">
                   <div class="ca-test-2-icon">
                      <span><img src="assets/img/icon/ca-test-2-qu.svg" alt=""></span>
                   </div>
                   <div class="ca-test-2-rating">
                      <div class="ca-ratings">
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                      </div>
                      <div class="ca-rating-num">
                         <h4 class="ca-rating-title-2">(5) <span>Rating</span></h4>
                      </div>
                   </div>
                   <div class="ca-test-2-content">
                      <p>“Our clients' satisfaction is the cornerstone of our success. We take immense pride in the positive feedback we receive from businesses across various industries.”</p>
                   </div>
                   <div class="ca-test-2-user">
                      <div class="ca-test-2-user-img">
                         <span><img src="assets/img/testimonial/testimonial-2.1.png" alt=""></span>
                      </div>
                      <div class="ca-test-2-user-name">
                         <h4 class="test-2-title">Sunil Narine</h4>
                         <span>Happy Client</span>
                      </div>
                   </div>
                </div>
                <!-- testimonial-item -->
                <div ngxSlickItem class="ca-testimonial-card">
                   <div class="ca-test-2-icon">
                      <span><img src="assets/img/icon/ca-test-2-qu.svg" alt=""></span>
                   </div>
                   <div class="ca-test-2-rating">
                      <div class="ca-ratings">
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                      </div>
                      <div class="ca-rating-num">
                         <h4 class="ca-rating-title-2">(5) <span>Rating</span></h4>
                      </div>
                   </div>
                   <div class="ca-test-2-content">
                      <p>“Our clients' satisfaction is the cornerstone of our success. We take immense pride in the positive feedback we receive from businesses across various industries.”</p>
                   </div>
                   <div class="ca-test-2-user">
                      <div class="ca-test-2-user-img">
                         <span><img src="assets/img/testimonial/testimonial-2.1.png" alt=""></span>
                      </div>
                      <div class="ca-test-2-user-name">
                         <h4 class="test-2-title">Sunil Narine</h4>
                         <span>Happy Client</span>
                      </div>
                   </div>
                </div>
                <!-- testimonial-item -->
                <div ngxSlickItem class="ca-testimonial-card">
                   <div class="ca-test-2-icon">
                      <span><img src="assets/img/icon/ca-test-2-qu.svg" alt=""></span>
                   </div>
                   <div class="ca-test-2-rating">
                      <div class="ca-ratings">
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                      </div>
                      <div class="ca-rating-num">
                         <h4 class="ca-rating-title-2">(5) <span>Rating</span></h4>
                      </div>
                   </div>
                   <div class="ca-test-2-content">
                      <p>“Our clients' satisfaction is the cornerstone of our success. We take immense pride in the positive feedback we receive from businesses across various industries.”</p>
                   </div>
                   <div class="ca-test-2-user">
                      <div class="ca-test-2-user-img">
                         <span><img src="assets/img/testimonial/testimonial-2.1.png" alt=""></span>
                      </div>
                      <div class="ca-test-2-user-name">
                         <h4 class="test-2-title">Sunil Narine</h4>
                         <span>Happy Client</span>
                      </div>
                   </div>
                </div>
             </ngx-slick-carousel>
          </div>
       </div>
    </div>
 </section>