<section class="contact-3-area cream-bg-3 pt-100 pb-70">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 mb-30">
             <div class="ca-contact-us-4 mr-50">
                <div class="ca-blog-content-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
                   <h5 class="ca-section-subtitle subtitle-bg-8 p-relative theme-black-4 br-50">Contact Us</h5>
                   <h2 class="ca-section-title theme-black-4 fnw-600 pt-16 ca-text-cap"> We're Ready to Serve You</h2>
                   <p class="pt-16">We take pride in the positive feedback we receive from businesses <br>across various industries expertise to meet their logistics needs.</p>
                </div>
                <div class="ca-working-hour mt-28 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
                   <h3 class="ca-blo-4-title theme-black-4 fnw-600 pb-16">Work Hour</h3>
                   <div class="ca-working-time">
                      <!-- single box -->
                      <div class="ca-work-time-box mr-46">
                         <div class="ca-work-ic">
                            <span><img src="assets/img/icon/ca-time4.1.svg" alt=""></span>
                         </div>
                         <div class="ca-work-content">
                            <span>Tuesday - Saturday</span>
                         </div>
                      </div>
                      <!-- single box -->
                      <div class="ca-work-time-box">
                         <div class="ca-work-ic">
                            <span><img src="assets/img/icon/ca-time4.1.svg" alt=""></span>
                         </div>
                         <div class="ca-work-content">
                            <span>8:00 Am - 5:00 Pm </span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="ca-con-icon-box-4 aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                   <!-- single-icon-box -->
                   <div class="ca-contact-ic-box-4 mb-30">
                      <div class="ca-contact-4-icon">
                         <span><img src="assets/img/icon/ca-map4.1.svg" alt=""></span>
                      </div>
                      <div class="ca-contact-4-content">
                         <h3 class="ca-blo-4-title theme-black-4 fnw-600 pb-12">Our Location</h3>
                         <p>73 Bridge St Brooklyn, USA.</p>
                      </div>
                   </div>
                   <!-- single-icon-box -->
                   <div class="ca-contact-ic-box-4 mb-30">
                      <div class="ca-contact-4-icon">
                         <span><img src="assets/img/icon/ca-mail-4.3.svg" alt=""></span>
                      </div>
                      <div class="ca-contact-4-content">
                         <h3 class="ca-blo-4-title theme-black-4 fnw-600 pb-12">Our Mail</h3>
                         <p>Demo&#64;gmail.com</p>
                      </div>
                   </div>
                   <!-- single-icon-box -->
                   <div class="ca-contact-ic-box-4 mb-30">
                      <div class="ca-contact-4-icon">
                         <span><img src="assets/img/icon/ca-phone-4.2.svg" alt=""></span>
                      </div>
                      <div class="ca-contact-4-content">
                         <h3 class="ca-blo-4-title theme-black-4 fnw-600 pb-12">Office Number</h3>
                         <p>+921 5222 6132</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-6 mb-30">
             <div class="ca-contact-from w-bg ca-contact-from-3 mr-60 aos-init aos-animate" data-aos="zoom-out-down" data-aos-duration="800">
                <div class="ca-contact-content-4">
                   <h4 class="ca-contact-title-2 theme-black-2 fnw-600">Send Us A Message</h4>
                   <p class="pt-16 pb-24">As a fellow small business owner, we know the fulfillment that an a best to comes from running & own business contact our service to Cargon.</p>
                </div>
                <form action="#">
                   <div class="row">
                      <div class="col-md-6 mb-20">
                         <input type="text" placeholder="First Name">
                      </div>
                      <div class="col-md-6 mb-20">
                         <input type="text" placeholder="Last Name">
                      </div>
                      <div class="col-md-6 mb-20">
                         <input type="tel" placeholder="Phone Number">
                      </div>
                      <div class="col-md-6 mb-20">
                         <input type="email" placeholder="Email Address">
                      </div>
                      <div class="col-md-12 mb-20">
                         <select class="nice-select wide ca-select">
                            <option data-display="Service Type">Nothing</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                         </select>
                      </div>
                      <div class="col-md-12 mb-20">
                         <textarea name="message" id="message" placeholder="Message"></textarea>
                      </div>
                      <div class="submit-btn">
                         <button class="ca-btn-primary ca-btn-primary-4 theme-bg-4 text-white br-50" type="submit" value="submit"> Send Now<span><i class="fa-solid fa-arrow-right"></i></span></button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </section>