<app-breadcrumb [title]="'Our Services'" />

<div class="ca-iner-servics pt-100 pb-100">
    <div class="container">
       <div class="row">
          <!-- single service box -->
           @for (item of services; track $index) {
          <div class="col-xl-4 col-md-6 mb-30">
             <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7">
                <div class="ca-about-icon">
                   <div class="ca-about-ic ca-ser-ic">
                      <img [src]="item.image" alt="">
                   </div>
                   <div class="ca-num">
                      <h4 class="overly-num overly-num2">0{{item.id}}</h4>
                   </div>
                </div>
                <div class="ca-service-content ca-service-content-iner">
                   <h4 class="ca-title fnw-700 pb-16 pt-32"><a routerLink="/service-single">{{item.title}}</a></h4>
                   <p class="pb-24">{{item.description}}.</p>
                   <a routerLink="/service-single" class="read-more">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                </div>
             </div>
          </div>
        }
       </div>

       <!-- pagination -->
       <div class="row">
          <div class="col-12 m-auto">
             <div class="theme-pagination text-center">
             <ul>
                 <li><a href="javascript:void(0);"><i class="fa-solid fa-angle-left"></i></a></li>
                 <li><a class="active" href="javascript:void(0);">01</a></li>
                 <li><a href="javascript:void(0);">02</a></li>
                 <li>...</li>
                 <li><a href="javascript:void(0);">12</a></li>
                 <li><a href="javascript:void(0);"><i class="fa-solid fa-angle-right"></i></a></li>
             </ul>
             </div>
         </div>
       </div>
    </div>
 </div>