<app-breadcrumb [title]="'views.services.breadcrumbTitle' | translate" />

<!-- Loading state -->
@if (isLoading) {
  <div class="ca-iner-servics pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center py-5">
          <div class="spinner-border text-secondary" role="status">
            <span class="visually-hidden">{{ 'views.services.loading' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
}

<!-- Error state -->
@if (hasError) {
  <div class="ca-iner-servics pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center py-5">
          <p class="text-muted">{{ 'views.services.loadError' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
}

<!-- Services grid -->
@if (!isLoading && !hasError) {
  <div class="ca-iner-servics pt-100 pb-100">
    <div class="container">
      <div class="row">
        <!-- single service box -->
        @for (item of paginatedServices; track item.id; let i = $index) {
          <div class="col-xl-4 col-md-6 mb-30">
            <div class="ca-ser-icon-box ca-ser-icon-box-2 fix p-relative cream-bg-3 z-index-1 p-32 br-7" 
                 (click)="onServiceClick(item)"
                 style="cursor: pointer;">
              <div class="ca-about-icon">
                <div class="ca-about-ic ca-ser-ic">
                  <img [src]="item.image" [alt]="item.title">
                </div>
                <div class="ca-num">
                  <h4 class="overly-num overly-num2">{{ (currentPage - 1) * itemsPerPage + i + 1 | number:'2.0' }}</h4>
                </div>
              </div>
              <div class="ca-service-content ca-service-content-iner">
                <h4 class="ca-title fnw-700 pb-16 pt-32">{{item.title}}</h4>
                <p class="pb-24">{{item.description}}</p>
                <span class="read-more">{{ 'views.blog.readMore' | translate }} <span><i class="fa-solid fa-angle-right"></i></span></span>
              </div>
            </div>
          </div>
        }
      </div>

      <!-- pagination -->
      @if (totalPages > 1) {
        <div class="row">
          <div class="col-12 m-auto">
            <div class="theme-pagination text-center">
              <ul>
                <li>
                  <a href="javascript:void(0);" 
                     [class.disabled]="currentPage === 1"
                     (click)="prevPage()">
                    <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>
                
                @for (page of visiblePages; track page) {
                  <li>
                    <a href="javascript:void(0);" 
                       [class.active]="currentPage === page"
                       (click)="goToPage(page)">
                      {{ page | number:'2.0' }}
                    </a>
                  </li>
                }

                @if (totalPages > 5 && currentPage < totalPages - 2) {
                  <li><span>...</span></li>
                  <li>
                    <a href="javascript:void(0);" 
                       (click)="goToPage(totalPages)">
                      {{ totalPages | number:'2.0' }}
                    </a>
                  </li>
                }

                <li>
                  <a href="javascript:void(0);" 
                     [class.disabled]="currentPage === totalPages"
                     (click)="nextPage()">
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
