<div class="ca-service-lft-area pt-100 pb-70">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 mb-30 mx-auto">
             <div class="ca-service-content-area">
                <div class="ca-servic-thumb br-7 mb-40">
                   <img class="w-100" src="assets/img/service/ca-servic-larg.png" alt="">
                </div>
                <div class="ca-servic-thumb-content">
                   <h2 class="ca-service-thumb-title theme-black-3 fnw-600 ca-text-cap">Servicio</h2>
                   <p class="pt-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                   <p class="pt-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br> Excepteur sint occaecat cupidatat non proident.</p>
                   <h3 class="ca-thumb-title-2 theme-black-3 fnw-600 pt-40 ca-text-cap">Excepteur sint occaecat cupidatat non proident</h3>
                   <p class="pt-16 pb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                   <div class="ca-acordion-area">
                      <div class="accordion" ngbAccordion id="accordionExample" [closeOthers]="true">
                         <!-- single accordion item -->
                          @for (item of faqs; track $index) {
                         <div class="ca-accordion-item ca-accordion-item-2 mb-24" ngbAccordionItem [collapsed]="false">
                            <h2 class="ca-accordion-header" id="headingTwo" ngbAccordionHeader>
                               <button class="accordion-button" ngbAccordionButton type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                               {{item.question}}
                               </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" ngbAccordionCollapse aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                               <div class="ca-accordion-body" ngbAccordionBody>
                                  <p>{{item.answer}}</p>
                               </div>
                            </div>
                         </div>
                        }
                      </div>
                   </div>
                   <h3 class="ca-thumb-title-2 theme-black-3 fnw-600 pt-16 ca-text-cap">Información del Servicio</h3>
                   <p class="pt-16 pb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                   <h3 class="ca-thumb-title-2 theme-black-3 fnw-600 ca-text-cap">Descripción del Servicio</h3>
                   <p class="pt-16 pb-40">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nemo maiores, porro sit necessitatibus suscipit quia accusantium, neque illum consequuntur reiciendis vel placeat doloremque provident tempora autem officiis voluptate aliquam!</p>
                   <h4 class="ca-thumb-title-4 theme-black-3 fnw-600 pb-16">Detalles del Servicio</h4>
                   <div class="ca-ab-item-check ca-ab-item-check-2">
                      <!-- single-item -->
                       @for (item of serviceItems; track $index) {
                      <div class="ca-ab-sngle-item">
                         <div class="ca-ab-sngle-item-ic">
                            <span><i class="fa-solid fa-check"></i></span>
                         </div>
                         <div class="ca-ab-sngle-item-content">
                            <h4 class="ca-item-ch-title">{{ item }}</h4>
                         </div>
                      </div>
                    }
                   </div>
                   <h3 class="ca-thumb-title-2 theme-black-3 fnw-600 pt-30">Nuestros servicios en Detalle</h3>
                   <p class="pt-16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque repellat eius deleniti esse quasi itaque eligendi quos natus ipsa nihil possimus consequuntur architecto, cupiditate accusamus qui magni. Eos, praesentium. Aliquid?</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>