<section class="contact-3-area cream-bg-3 pt-100 pb-70">
   <div class="container">
      <div class="ca-blog-content-3 ca-sec-content-3 text-center mb-60 aos-init aos-animate" data-aos="zoom-out-down"
         data-aos-duration="1000">
         <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">{{ 'home.contact1.subtitle' | translate }}</h5>
         <h2 class="ca-section-title theme-black-3 fnw-600 pt-16 ca-text-cap"> {{ 'home.contact1.title' | translate }}</h2>
         <p class="pt-16">{{ 'home.contact1.description' | translate }}</p>
      </div>
      <div class="row align-items-center">
         <div class="col-xl-6 mb-30">
            <div class="ca-contact-from w-bg ca-contact-from-3 aos-init aos-animate" data-aos="fade-right"
               data-aos-duration="1200">
               <div class="ca-contact-content-3">
                  <h4 class="ca-contact-title-2 theme-black-2 fnw-600">{{ 'home.contact1.form.title' | translate }}</h4>
                  <p class="pt-16 pb-24">{{ 'home.contact1.form.subtitle' | translate }}</p>
               </div>
               <form action="#">
                  <div class="row">
                     <div class="col-md-6 mb-20">
                        <input type="text" [placeholder]="'views.contact.form.firstNamePlaceholder' | translate">
                     </div>
                     <div class="col-md-6 mb-20">
                        <input type="text" [placeholder]="'views.contact.form.lastNamePlaceholder' | translate">
                     </div>
                     <div class="col-md-6 mb-20">
                        <input type="tel" [placeholder]="'home.contact1.form.phonePlaceholder' | translate">
                     </div>
                     <div class="col-md-6 mb-20">
                        <input type="email" [placeholder]="'home.contact1.form.emailPlaceholder' | translate">
                     </div>
                     <div class="col-md-12 mb-20">
                        <input type="text" [placeholder]="'views.contact.form.contactReasonPlaceholder' | translate">
                     </div>
                     <div class="col-md-12 mb-20">
                        <textarea name="message" id="message" [placeholder]="'home.contact1.form.messagePlaceholder' | translate"></textarea>
                     </div>
                     <div class="submit-btn">
                        <button class="ca-btn-primary-3 theme-bg-3 text-white br-50" type="submit" value="submit">
                           {{ 'home.contact1.form.sendButton' | translate }}<span><i class="fa-solid fa-angle-right"></i></span></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-xl-6 mb-30">
            <div class="ca-form-loca-3 ml-50 aos-init aos-animate" data-aos="fade-left" data-aos-duration="1400">
               <!-- single box item -->
               <div class="ca-location-3 mb-20">
                  <div class="ca-location-icbox">
                     <div class="ca-location-icbox-img">
                        <span><img src="assets/img/icon/ca-location3.1.svg" alt=""></span>
                     </div>
                     <div class="ca-location-icbox-text">
                        <h4 class="ca-title fnw-600 theme-black-3 pb-12">{{ 'home.contact1.visitUsTitle' | translate }}</h4>
                        <p>{{ 'home.contact1.addressLine' | translate }}
                           <br> eurolab&#64;gponutec.com
                        </p>
                     </div>
                  </div>
               </div>
<!-- single box item -->
               <div class="ca-location-3 mb-20">
                  <div class="ca-location-icbox">
                     <div class="ca-location-icbox-img">
                        <span><img src="assets/img/icon/ca-location3.2.svg" alt=""></span>
                     </div>
                     <div class="ca-location-icbox-text">
                        <h4 class="ca-title fnw-600 theme-black-3 pb-12">{{ 'views.contact.callUsTitle' | translate }}</h4>
                        <a href="tel:4461335884">(446) 133-5884</a>
                     </div>
                  </div>
               </div>
               <!-- single box item -->
               <div class="ca-location-3 mb-20">
                  <div class="ca-location-icbox">
                     <div class="ca-location-icbox-img">
                        <span><img src="assets/img/icon/ca-location3.3.svg" alt=""></span>
                     </div>
                     <div class="ca-location-icbox-text">
                        <h4 class="ca-title fnw-600 theme-black-3 pb-12">{{ 'home.contact1.sendEmailTitle' | translate }}</h4>
                        <a href="mailto:eurolab&#64;gponutec.com">eurolab&#64;gponutec.com</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>