<section class="contact-3-area cream-bg-3 pt-100 pb-70">
    <div class="container">
       <div class="ca-blog-content-3 ca-sec-content-3 text-center mb-60 aos-init aos-animate" data-aos="zoom-out-down" data-aos-duration="1000">
          <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Contactános</h5>
          <h2 class="ca-section-title theme-black-3 fnw-600 pt-16 ca-text-cap"> Lorem ipsum dolor sit amet.</h2>
          <p class="pt-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac nunc in eros tristique ultrices eget non urna. <br> Vestibulum pellentesque a orci ac commodo.</p>
       </div>
       <div class="row align-items-center">
          <div class="col-xl-6 mb-30">
             <div class="ca-contact-from w-bg ca-contact-from-3 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200">
                <div class="ca-contact-content-3">
                   <h4 class="ca-contact-title-2 theme-black-2 fnw-600">Envianos un mensaje</h4>
                   <p class="pt-16 pb-24">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac nunc in eros tristique ultrices eget non urna.</p>
                </div>
                <form action="#">
                   <div class="row">
                      <div class="col-md-6 mb-20">
                         <input type="text" placeholder="Nombre">
                      </div>
                      <div class="col-md-6 mb-20">
                         <input type="text" placeholder="Apellido">
                      </div>
                      <div class="col-md-6 mb-20">
                         <input type="tel" placeholder="Teléfono">
                      </div>
                      <div class="col-md-6 mb-20">
                         <input type="email" placeholder="Correo Electronico">
                      </div>
                      <div class="col-md-12 mb-20">
                         <select class="nice-select wide ca-select">
                            <option data-display="Service Type">Opciones</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                         </select>
                      </div>
                      <div class="col-md-12 mb-20">
                         <textarea name="message" id="message" placeholder="Mensaje"></textarea>
                      </div>
                      <div class="submit-btn">
                         <button class="ca-btn-primary-3 theme-bg-3 text-white br-50" type="submit" value="submit"> Enviar Mensaje<span><i class="fa-solid fa-angle-right"></i></span></button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
          <div class="col-xl-6 mb-30">
             <div class="ca-form-loca-3 ml-50 aos-init aos-animate" data-aos="fade-left" data-aos-duration="1400">
                <!-- single box item -->
                <div class="ca-location-3 mb-20">
                   <div class="ca-location-icbox">
                      <div class="ca-location-icbox-img">
                         <span><img src="assets/img/icon/ca-location3.1.svg" alt=""></span>
                      </div>
                      <div class="ca-location-icbox-text">
                         <h4 class="ca-title fnw-600 theme-black-3 pb-12">Contactános</h4>
                         <p>Av. del Marqués 32, Parque Industrial Bernardo Quintana, 76246 Santiago de Querétaro, Qro. <br> Contacto&#64;mail.com</p>
                      </div>
                   </div>
                </div>
                <!-- single box item -->
                <div class="ca-location-3 mb-20">
                   <div class="ca-location-icbox">
                      <div class="ca-location-icbox-img">
                         <span><img src="assets/img/icon/ca-location3.2.svg" alt=""></span>
                      </div>
                      <div class="ca-location-icbox-text">
                         <h4 class="ca-title fnw-600 theme-black-3 pb-12">Llamar</h4>
                         <a href="tel:123-456-7890">000-000-0000</a>
                      </div>
                   </div>
                </div>
                <!-- single box item -->
                <div class="ca-location-3 mb-20">
                   <div class="ca-location-icbox">
                      <div class="ca-location-icbox-img">
                         <span><img src="assets/img/icon/ca-location3.3.svg" alt=""></span>
                      </div>
                      <div class="ca-location-icbox-text">
                         <h4 class="ca-title fnw-600 theme-black-3 pb-12">Enviar Correo</h4>
                         <a href="mailto:infotransportlogistics@gmail.com">Contacto&#64;gmail.com</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>