<app-navbar [navClass]="'ca-mobile-menu-active-2' " [headerClass]="'header-area-3 header-area-4 stiky'"
    [containerClass]="'header-4'" [logo]="'assets/img/logo/ca-logo4.1.png'" [mainNavClass]="'ca-mobile-menu-active-4'"
    buttonText="Track Shipment" [mainNavClass]="'ca-main-menu-4'" buttonLink="contact"
    buttonClass="ca-btn-primary ca-btn-primary-4 theme-bg-4 text-white br-50" [showMobileMenu]="true"/>

    <main>
        <app-hero/>
        <app-circle-text/>
        <app-about4/>
        <app-service4/>
        <app-pricing-plan4/>
        <app-testimonial4/>
        <app-sponsor4/>
        <app-contact4/>
        <app-blog4/>
        <app-cta4/>
    </main>

    <app-footer4/>

    <button id="topBtn4" (click)="scrollToTop($event)"><i class="fa-solid fa-arrow-up"></i></button>