<div class="ca-hero-4 p-relative z-index-1 fix">
    <div class="ca-hero-4-shape p-absolute">
       <img src="assets/img/shape/ca-dot-shape4.1.png" alt="">
    </div>
    <div class="container">
       <div class="row">
          <div class="col-lg-6">
             <div class="ca-hero-4-content wow tpFadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
                <h5 class="ca-section-subtitle subtitle-bg-8 p-relative theme-black-4 br-50">What We Do</h5>
                <h1 class="ca-slider-heading text-white pt-20 pb-20 ca-text-cap">Transporting Your Business to New Heights logistic</h1>
                <p class="pb-32">Our innovative approach leverages the latest technology streamline <br> your supply chain, optimize routes, and provide real-time tracking.</p>
                <!-- btn -->
                <div class="ca-hero-4-btn">
                   <a href="javascript:void(0);" class="ca-btn-primary ca-btn-primary-4 theme-bg-4 text-white br-50">Our Service<span><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
          </div>
       </div>
    </div>
    <div class="ca-hero-4-img">
       <img class="w-100" src="assets/img/slider/ca-hero-4.png" alt="">
    </div>
 </div>