<section class="ca-blog pt-100 pb-70">
    <div class="container">
       <div class="ca-blog-content-4 text-center mb-60 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
          <h5 class="ca-section-subtitle subtitle-bg-8 p-relative theme-black-4 br-50">Our Blog</h5>
          <h2 class="ca-section-title theme-black-4 fnw-600 pt-16 ca-text-cap"> Best Practices and Strategies</h2>
          <p class="pt-16">Delve into the challenges of last-mile delivery and explore strategies to overcome<br> them. Learn how to improve delivery times, enhance customer satisfaction,</p>
       </div>
       <div class="row">
          <!-- single-blog-item -->
          <div class="col-lg-6 col-md-6 mb-30">
             <div class="ca-team-box ca-blog-box-4 br-7 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
                <div class="ca-team-img ca-blog-4-img">
                   <a routerLink="/blog-single"> <img class="w-100" src="assets/img/blog/ca-blog-4.1.png" alt=""></a>
                </div>
                <div class="ca-blog-box-content w-bg ca-blog-box-content-4">
                   <div class="ca-b-meta">
                      <!-- blog meta box -->
                      <a href="javascript:void(0);" class="ca-blog-meta ca-blog-meta-3">
                         <div class="ca-meta-icon">
                            <span><img src="assets/img/icon/user-1.1.svg" alt=""></span>
                         </div>
                         <div class="ca-meta-title">
                            <span>Henry Nicolls</span>
                         </div>
                      </a>
                      <!-- blog meta box -->
                      <a href="javascript:void(0);" class="ca-blog-meta ca-blog-meta-3">
                         <div class="ca-meta-icon">
                            <span><img src="assets/img/icon/tag-1.1.svg" alt=""></span>
                         </div>
                         <div class="ca-meta-title">
                            <span>Transport & Logistics</span>
                         </div>
                      </a>
                   </div>
                   <h4 class="ca-blog-title ca-blog-title-3 fnw-600"><a href="javascript:void(0);">Meeting the Challenges of E-commerce Logistics</a></h4>
                   <p class="pt-16 pb-18">Get expert tips on managing project cargo logistics planning &<br> coordination to execution & delivery, discover best practices.</p>
                   <div class="blog-4-readmore">
                      <a routerLink="/blog-single" class="read-more3">Ver más <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
             </div>
          </div>
          <!-- single-blog-item -->
          <div class="col-lg-6 col-md-6 mb-30">
             <div class="ca-team-box ca-blog-box-4 br-7 aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200">
                <div class="ca-team-img ca-blog-4-img">
                   <a routerLink="/blog-single"><img class="w-100" src="assets/img/blog/ca-blog-4.2.png" alt=""></a>
                </div>
                <div class="ca-blog-box-content w-bg ca-blog-box-content-4">
                   <div class="ca-b-meta">
                      <!-- blog meta box -->
                      <a href="javascript:void(0);" class="ca-blog-meta ca-blog-meta-3">
                         <div class="ca-meta-icon">
                            <span><img src="assets/img/icon/user-1.1.svg" alt=""></span>
                         </div>
                         <div class="ca-meta-title">
                            <span>Henry Nicolls</span>
                         </div>
                      </a>
                      <!-- blog meta box -->
                      <a href="javascript:void(0);" class="ca-blog-meta ca-blog-meta-3">
                         <div class="ca-meta-icon">
                            <span><img src="assets/img/icon/tag-1.1.svg" alt=""></span>
                         </div>
                         <div class="ca-meta-title">
                            <span>Transport & Logistics</span>
                         </div>
                      </a>
                   </div>
                   <h4 class="ca-blog-title ca-blog-title-3 fnw-600"><a href="javascript:void(0);">Handling Project Cargo: Expert Tips & Strategies</a></h4>
                   <p class="pt-16 pb-18">Explore the unique challenges of e-commerce logistics and how <br> to overcome them. Find out how to handle high order volumes.</p>
                   <div class="blog-4-readmore">
                      <a routerLink="/blog-single" class="read-more3">Ver más <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>