<app-navbar [navClass]="'ca-mobile-menu-active-2'" [containerClass]="'ca-header-area ca-header-1 stiky pt-16 pb-16'"
    [logo]="'assets/img/logo/ca-logo1.1.png'" [mainNavClass]="'ca-main-menu'" buttonText="Get A Quote"
    buttonLink="/contact" buttonClass="ca-btn-primary theme-bg-1 text-white br-50" [alert]="true" />


<main>
    <app-hero3 />
    <app-about3 />
    <app-service3 />
    <app-portfolio3 />
    <app-testimonisl3 />
    <app-team-area3 />
    <app-contact3 />
    <app-blog3 />
</main>
<app-footer3 />

<button id="topBtn" (click)="scrollToTop($event)"><i class="fa-solid fa-arrow-up"></i></button>