<section class="ca-blog pt-100 pb-70">
  <div class="container">
    <div class="ca-blog-content-3 ca-sec-content-3 text-center mb-60 aos-init aos-animate" data-aos="fade-up"
      data-aos-duration="800">
      <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Certificaciones</h5>
      <h2 class="ca-section-title theme-black-3 fnw-600 pt-16 ca-text-cap">Nuestras aprobaciones y certificaciones</h2>
      <p class="pt-16">Respaldados por organismos nacionales e internacionales que garantizan la calidad y confiabilidad de nuestros análisis.</p>
    </div>

    @if (isLoading) {
      <div class="text-center py-5">
        <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Cargando...</span></div>
      </div>
    } @else {
      <div class="row">
        @for (cert of certifications; track cert.id; let i = $index) {
          <div class="col-xl-4 col-md-6 mb-30"
            [attr.data-aos]="i === 0 ? 'fade-right' : i === 1 ? 'fade-up' : 'fade-left'"
            [attr.data-aos-duration]="800 + i * 200">
            <div class="ca-team-box ca-blog-box-3 cream-bg-3 br-7 fix p-relative z-index-1">
              <div class="ca-team-img">
                <a [routerLink]="['/certificaciones', cert.slug]">
                  <img class="w-100" [src]="cert.cover_image_url || 'assets/img/blog/ca-blog-1.1.png'" alt="{{ cert.title }}">
                </a>
              </div>
              <div class="ca-blog-date-3">
                <a href="javascript:void(0);" class="blg-date-3">{{ cert.cert_type }}</a>
              </div>
              <div class="ca-blog-box-content ca-blog-box-content-3">
                <div class="ca-b-meta">
                  <a href="javascript:void(0);" class="ca-blog-meta ca-blog-meta-3">
                    <div class="ca-meta-icon">
                      <span><img src="assets/img/icon/user-1.1.svg" alt=""></span>
                    </div>
                    <div class="ca-meta-title">
                      <span>{{ cert.issuing_body }}</span>
                    </div>
                  </a>
                  <a href="javascript:void(0);" class="ca-blog-meta ca-blog-meta-3">
                    <div class="ca-meta-icon">
                      <span><img src="assets/img/icon/tag-1.1.svg" alt=""></span>
                    </div>
                    <div class="ca-meta-title">
                      <span>{{ cert.cert_type }}</span>
                    </div>
                  </a>
                </div>
                <h4 class="ca-blog-title ca-blog-title-3 fnw-600">
                  <a [routerLink]="['/certificaciones', cert.slug]">{{ cert.title }}</a>
                </h4>
                <p class="pt-16 pb-18">{{ cert.excerpt }}</p>
                <div class="blog-3-rearmore">
                  <a [routerLink]="['/certificaciones', cert.slug]" class="read-more3">Ver más <span><i class="fa-solid fa-angle-right"></i></span></a>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</section>
