<footer class="ca-ft-area-2 off-wh p-relative z-index-1 pt-258">
    <div class="ca-footer-area">
       <div class="container">
          <div class="">
             <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                   <div class="ca-footer widget-1">
                      <div class="ca-ft-logo">
                         <a routerLink="/index"><img src="assets/img/logo/ca-logo2.2.png" alt=""></a>
                      </div>
                      <div class="ca-ft-content-2 mb-24">
                         <p class="pt-16">Our global reach, combined with local <br> expertise, ensures that your goods are <br>transported safely, on time.</p>
                      </div>
                      <div class="ca-footer-social ca-footer-social-2">
                         <ul>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-lg col-md-6 mb-30">
                   <div class="ca-footer widget-2">
                      <h4 class="ca-title fnw-700 theme-black-2 pb-24">Quick Links</h4>
                      <div class="ca-footer-menu ca-footer-menu-2">
                         <ul>
                            <li><a routerLink="/index">Home</a></li>
                            <li><a routerLink="/service">Service</a></li>
                            <li><a routerLink="/about">About Us</a></li>
                            <li><a routerLink="/blog">Latest News</a></li>
                            <li><a routerLink="/contact">Contact Us</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-lg col-md-6 mb-30">
                   <div class="ca-footer widget-3">
                      <h4 class="ca-title fnw-700 theme-black-2 pb-24">Other Links</h4>
                      <div class="ca-footer-menu ca-footer-menu-2">
                         <ul>
                            <li><a href="javascript:void(0);">Maintenance</a></li>
                            <li><a href="javascript:void(0);">Our Team</a></li>
                            <li><a href="javascript:void(0);"> Reviews & Awards</a></li>
                            <li><a href="javascript:void(0);"> Personal</a></li>
                            <li><a href="javascript:void(0);">Certifications</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                   <div class="ca-footer widget-4">
                      <h4 class="ca-title fnw-700 theme-black-2 pb-24">Other Links</h4>
                      <div class="ca-ft-content">
                         <p class="pb-32">Subscribe us & receive our latest<br> news & articles</p>
                      </div>
                      <div class="ca-footer-email-sub ca-footer-email-sub-2">
                         <form action="#">
                            <input type="email" placeholder="Email Address..">
                         </form>
                         <button class="ca-btn-primary-22" type="submit" value="submit">Subscribe Now <span><i class="fa-solid fa-arrow-right"></i></span></button>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-lg-12">
                   <div class="copy-right-border border-1"></div>
                </div>
                <div class="col-lg-6 col-md-6">
                   <p class="copry-right-text copry-right-text-2 pt-24 pb-24">Copyright &COPY;2024 Cargon. All Rights Reserved</p>
                </div>
                <div class="col-lg-6 col-md-6">
                   <div class="copy-right-menu copy-right-menu-2 text-end pt-24 pb-24">
                      <ul>
                         <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                         <li><a href="javascript:void(0);">Privacy Policy</a></li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- footer area end -->
 </footer>