<section class="ca-portfilo-2 pt-100 pb-70">
    <div class="container">
      <div class="ca-portfolio-content-3 ca-sec-content-3 text-center mb-60" data-aos="fade-up" data-aos-duration="800">
        <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Nuestra Tecnologia</h5>
        <h2 class="ca-section-title theme-black-3 fnw-600 pt-16">Lorem ipsum dolor sit amet</h2>
        <p class="pt-16"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ultricies ex.  <br>Fusce purus sem, venenatis in mauris at, pulvinar dignissim massa.</p>
      </div>
  
      <div class="row">
        @for (project of projects; track $index) {
        <div [class]="project.colClass">
          <div class="ca-single-pro-img-3 mb-30">
            <img class="w-100" [src]="project.image" alt="">
            <div class="ca-project-hover-item1">
              <a [href]="project.link" class="ca-project-hover-item1-icon">
                <span><img [src]="project.icon" alt=""></span>
              </a>
              <div class="ca-project-hover-item-content">
                <h4 class="ca-project-hov-sub-title">{{ project.category }}</h4>
                <h3 class="ca-project-hov-title"><a [href]="project.link">{{ project.title }}</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque at ultricies ex.</p>
              </div>
            </div>
          </div>
        </div>
    }
      </div>
    </div>
  </section>
  