<ngx-slick-carousel class="ca-slider-active-3" [config]="sliderConfig">
    <!-- single-slider -->
    <div ngxSlickItem class="ca-slider-3 cream-bg-3 p-relative z-index-1 fix">
       <div class="ca-slider-3-shape d-none d-lg-block">
          <img src="assets/img/shape/ca-shape3.3.png" alt="">
          <div class="ca-slider-top-shape-img">
             <img src="assets/img/shape/ca-image-shape3.3.png" alt="">
          </div>
       </div>
       <div class="ca-slider-img-3 p-absolute">
          <img src="assets/img/slider/truck-slide3.png" alt="">
       </div>
       <div class="ca-line-shape3">
          <img src="assets/img/shape/ca-shape3.1.png" alt="">
       </div>
       <div class="ca-overlay-shape3 p-absolute">
          <img src="assets/img/shape/overlay-shape3.2.png" alt="">
       </div>
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-10">
                <div class="ca-hero-content-3">
                   <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Lorem Ipsum Dolor</h5>
                   <h1 class="ca-slider-heading theme-black-3 fnw-600 pt-20 pb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                   <p class="pt-16 pb-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                   <div class="hero3-btn">
                      <a routerLink="/contact" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Contacto<span><i class="fa-solid fa-angle-right"></i></span></a>
                      <a routerLink="/contact" class="ca-sec-primary-3 theme-color-3 br-50">Nosotros<span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- single-slider -->
    <div ngxSlickItem class="ca-slider-3 cream-bg-3 p-relative z-index-1 fix">
       <div class="ca-slider-3-shape d-none d-lg-block">
          <img src="assets/img/shape/ca-shape3.3.png" alt="">
          <div class="ca-slider-top-shape-img">
             <img src="assets/img/shape/ca-image-shape3.3.png" alt="">
          </div>
       </div>
       <div class="ca-slider-img-3 p-absolute">
          <img src="assets/img/slider/truck-slide3.png" alt="">
       </div>
       <div class="ca-line-shape3">
          <img src="assets/img/shape/ca-shape3.1.png" alt="">
       </div>
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-10">
                <div class="ca-hero-content-3">
                   <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Lorem Ipsum Dolor</h5>
                   <h1 class="ca-slider-heading theme-black-3 fnw-600 pt-20 pb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                   <p class="pt-16 pb-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                   <div class="hero3-btn">
                      <a routerLink="/contact" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Contacto<span><i class="fa-solid fa-angle-right"></i></span></a>
                      <a routerLink="/contact" class="ca-sec-primary-3 theme-color-3 br-50">Nosotros<span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- single-slider -->
    <div ngxSlickItem class="ca-slider-3 cream-bg-3 p-relative z-index-1 fix">
       <div class="ca-slider-3-shape d-none d-lg-block">
          <img src="assets/img/shape/ca-shape3.3.png" alt="">
          <div class="ca-slider-top-shape-img">
             <img src="assets/img/shape/ca-image-shape3.3.png" alt="">
          </div>
       </div>
       <div class="ca-slider-img-3 p-absolute">
          <img src="assets/img/slider/truck-slide3.png" alt="">
       </div>
       <div class="ca-line-shape3">
          <img src="assets/img/shape/ca-shape3.1.png" alt="">
       </div>
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-10">
                <div class="ca-hero-content-3">
                   <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Lorem Ipsum Dolor</h5>
                   <h1 class="ca-slider-heading theme-black-3 fnw-600 pt-20 pb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                   <p class="pt-16 pb-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                   <div class="hero3-btn">
                      <a routerLink="/contact" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Contacto<span><i class="fa-solid fa-angle-right"></i></span></a>
                      <a routerLink="/contact" class="ca-sec-primary-3 theme-color-3 br-50">Nosotros<span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </ngx-slick-carousel>