<ngx-slick-carousel class="ca-slider-active-3" [config]="sliderConfig">
   <!-- single-slider -->
   <div ngxSlickItem class="ca-slider-3 cream-bg-3 p-relative z-index-1 fix">
      <div class="ca-slider-3-shape d-none d-lg-block">
         <img src="assets/img/shape/ca-shape3.3.png" alt="">
         <div class="ca-slider-top-shape-img">
            <img src="assets/img/shape/ca-image-shape3.3.png" alt="">
         </div>
      </div>
      <div class="ca-slider-img-3 p-absolute">
         <img src="assets/img/slider/truck-slide3.png" alt="">
      </div>
      <div class="ca-line-shape3">
         <img src="assets/img/shape/ca-shape3.1.png" alt="">
      </div>
      <div class="ca-overlay-shape3 p-absolute">
         <img src="assets/img/shape/overlay-shape3.2.png" alt="">
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-10">
               <div class="ca-hero-content-3">
                  <h6 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Análisis físico-químicos,
                     microbiológicos y nutricionales con precisión analítica y trazabilidad garantizada.</h6>
                  <h6 class="ca-slider-heading theme-black-3 fnw-600 pt-20 pb-20">Resultados confiables para la
                     industria alimentaria, agropecuaria y humana</h6>
                  <p class="pt-16 pb-32">En Euronutec Laboratorio respaldamos la toma de decisiones mediante
                     metodologías validadas, personal especializado y procesos controlados en cada etapa del análisis.
                  </p>
                  <div class="hero3-btn">
                     <a routerLink="/contact" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Conocer
                        servicios<span><i class="fa-solid fa-angle-right"></i></span></a>
                     <a routerLink="/contact" class="ca-sec-primary-3 theme-color-3 br-50">Descargar catálogo<span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- single-slider -->
   <div ngxSlickItem class="ca-slider-3 cream-bg-3 p-relative z-index-1 fix">
      <div class="ca-slider-3-shape d-none d-lg-block">
         <img src="assets/img/shape/ca-shape3.3.png" alt="">
         <div class="ca-slider-top-shape-img">
            <img src="assets/img/shape/ca-image-shape3.3.png" alt="">
         </div>
      </div>
      <div class="ca-slider-img-3 p-absolute">
         <img src="assets/img/slider/truck-slide3.png" alt="">
      </div>
      <div class="ca-line-shape3">
         <img src="assets/img/shape/ca-shape3.1.png" alt="">
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-10">
               <div class="ca-hero-content-3">
                  <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Evaluamos materias primas
                     y productos terminados para garantizar calidad, seguridad y conformidad regulatoria.</h5>
                  <h1 class="ca-slider-heading theme-black-3 fnw-600 pt-20 pb-20">Cumple normativas y asegura la
                     inocuidad de tus productos</h1>
                  <p class="pt-16 pb-32">Apoyamos a empresas y productores a verificar especificaciones técnicas,
                     detectar desviaciones y mantener estándares de calidad en sus procesos.</p>
                  <div class="hero3-btn">
                     <a routerLink="/contact" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Solicitar
                        análisis<span><i class="fa-solid fa-angle-right"></i></span></a>
                     <a routerLink="/contact" class="ca-sec-primary-3 theme-color-3 br-50">Ver tipos de pruebas<span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- single-slider -->
   <div ngxSlickItem class="ca-slider-3 cream-bg-3 p-relative z-index-1 fix">
      <div class="ca-slider-3-shape d-none d-lg-block">
         <img src="assets/img/shape/ca-shape3.3.png" alt="">
         <div class="ca-slider-top-shape-img">
            <img src="assets/img/shape/ca-image-shape3.3.png" alt="">
         </div>
      </div>
      <div class="ca-slider-img-3 p-absolute">
         <img src="assets/img/slider/truck-slide3.png" alt="">
      </div>
      <div class="ca-line-shape3">
         <img src="assets/img/shape/ca-shape3.1.png" alt="">
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-10">
               <div class="ca-hero-content-3">
                  <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Información técnica
                     confiable para investigación, desarrollo y optimización de formulaciones.</h5>
                  <h1 class="ca-slider-heading theme-black-3 fnw-600 pt-20 pb-20">Soporte analítico para formulación y
                     mejora de productos</h1>
                  <p class="pt-16 pb-32">Acompañamos a nuestros clientes en el desarrollo de productos mediante
                     resultados reproducibles que facilitan ajustes, comparaciones y validaciones.</p>
                  <div class="hero3-btn">
                     <a routerLink="/contact" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Hablar con un asesor<span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                     <a routerLink="/contact" class="ca-sec-primary-3 theme-color-3 br-50">Descargar catálogo<span><i
                              class="fa-solid fa-angle-right"></i></span></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</ngx-slick-carousel>