<footer class="cream-bg pt-30 p-relative z-index-1">
    <div class="ca-ft-shape p-absolute ft-shape-1"><img src="assets/img/shape/shape-1.5.png" alt=""></div>
    <div class="ca-ft-shape p-absolute ft-shape-2"><img src="assets/img/shape/shape-1.6.png" alt=""></div>
    <div class="ca-ft-shape p-absolute ft-shape-3"><img src="assets/img/shape/shape-1.7.png" alt=""></div>
    <div class="ca-ft-shape p-absolute ft-shape-4"><img src="assets/img/shape/shape-1.8.png" alt=""></div>

    <div class="ca-cta-area">
        <div class="container">
           <div class="row align-items-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="col-lg-6 mb-30">
                 <div class="ca-cta-content">
                    <h2 class="ca-section-title cta-title-1 fnw-700">Join Us Today And let Us Help You To Grow Your Business.</h2>
                 </div>
              </div>
              <div class="col-lg-6 mb-30">
                 <div class="ca-btn-cta-1 text-center text-lg-end">
                    <a routerLink="/contact" class="ca-btn-primary theme-bg-1 text-white br-50">Get Started<span><i class="fa-solid fa-angle-right"></i></span></a>
                 </div>
              </div>
           </div>
           <div class="b-bottom pt-48"></div>
        </div>
     </div>

    <div class="ca-footer-area">
        <div class="container">
            <div class="ca-ft-area w-bg">
                <div class="row">
                    <div class="col-xl-4 col-md-6 mb-30">
                        <div class="ca-footer widget-1">
                            <div class="ca-ft-logo">
                                <a routerLink="/"><img src="assets/img/logo/ca-logo1.1.png" alt=""></a>
                            </div>
                            <div class="ca-ft-content  mb-24">
                                <p class="pt-16">
                                    Our global reach, combined with local <br> expertise, ensures that your goods are
                                    <br>transported safely, on time.
                                </p>
                            </div>
                            <div class="ca-footer-social ">
                                <ul>
                                    @for (social of socialLinks; track $index) {
                                    <li>
                                        <a [href]="social.url" target="_blank"><i [class]="social.icon"></i></a>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    @for (section of footerSections; track $index) {
                    <div class="col-xl col-md-6 mb-30">
                        <div class="ca-footer" [ngClass]="section.widgetClass">
                            <h4 class="ca-title fnw-700 theme-black-3 pb-24">{{ section.title }}</h4>
                            <div class="ca-footer-menu ca-footer-menu-3">
                                <ul>
                                    @for (link of section.links; track $index) {
                                    <li>
                                        <a [routerLink]="link.url">{{ link.text }}</a>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    }
                    <div class="col-xl-4 col-md-6 mb-30">
                        <div class="ca-footer widget-4">
                            <h4 class="ca-title fnw-700 theme-black-3 pb-24">Subscribe</h4>
                            <div class="ca-ft-content">
                                <p class="pb-32">Subscribe us & receive our latest news & articles</p>
                            </div>
                            <div class="ca-footer-email-sub">
                                <form novalidate>
                                    <input type="email" placeholder="Email Address.." [(ngModel)]="email"
                                        [ngModelOptions]="{standalone: true}">
                                </form>
                                <button class="ca-btn-primary theme-bg-1 text-white br-50" (click)="subscribe()"
                                    type="button">
                                    Subscribe Now <span><i class="fa-solid fa-angle-right"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="copy-right-border border-1"></div>
                    </div>
                    <div class="col-lg-6">
                        <p class="copry-right-text pt-24">Copyright &COPY; 2024 Cargon. All Rights Reserved</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="copy-right-menu pt-24">
                            <ul>
                                <li><a routerLink="#">Terms & Conditions</a></li>
                                <li><a routerLink="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>