<section class="ca-service-4 cream-bg-3 pt-100 pb-70 p-relative z-index-1">
    <div class="ca-servic-4-shape p-absolute"><img src="assets/img/shape/ca-plane-1.1.png" alt=""></div>
    <div class="ca-servic-4-shape-2 p-absolute"><img src="assets/img/shape/ca-ft-shape4.1.png" alt=""></div>
    <div class="container">
       <div class="ca-service-content-4 text-center mb-60 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
          <h5 class="ca-section-subtitle subtitle-bg-8 p-relative theme-black-4 br-50">Our Service</h5>
          <h2 class="ca-section-title theme-black-4 fnw-600 pt-16 ca-text-cap">Cold Chain Logistics Services</h2>
          <p class="pt-16">From freight forwarding and customs brokerage to warehousing solutions &<br> supply chain management, our expertise ensures that your logistics.</p>
       </div>
       <div class="row">
          <ngx-slick-carousel [config]="serviceConfig" class="ca-services-4">
             <!-- single servic-item -->
             <div ngxSlickItem class="ca-service-4-item br-7 fix p-relative z-index-1 mb-30">
                <img class="w-100" src="assets/img/service/ca-service-4.1.png" alt="">
                <div class="ca-servic-4-ic-box p-absolute">
                   <div class="ca-service-4-icon">
                      <span><img src="assets/img/icon/ca-service-ic-4.1.svg" alt=""></span>
                   </div>
                   <div class="ca-service-4-content">
                      <h3 class="ca-ser-4-title"><a href="javascript:void(0);">Express Delivery Services</a></h3>
                      <p>We offer state-of-the-art warehousing solutions, ensuring your inventory is managed with precision and care.</p>
                      <a href="javascript:void(0);" class="read-mor4">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
                <div class="ca-ser-overlay p-absolute">
                   <img class="w-100" src="assets/img/service/ca-overlay-servic-4.png" alt="">
                </div>
             </div>
             <!-- single servic-item -->
             <div ngxSlickItem class="ca-service-4-item br-7 fix p-relative z-index-1 mb-30">
                <img class="w-100" src="assets/img/service/ca-service-4.3.png" alt="">
                <div class="ca-servic-4-ic-box p-absolute">
                   <div class="ca-service-4-icon">
                      <span><img src="assets/img/icon/ca-service-ic-4.3.svg" alt=""></span>
                   </div>
                   <div class="ca-service-4-content">
                      <h3 class="ca-ser-4-title"><a href="javascript:void(0);">Supply Chain Management</a></h3>
                      <p>We offer state-of-the-art warehousing solutions, ensuring your inventory is managed with precision and care.</p>
                      <a href="javascript:void(0);" class="read-mor4">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
                <div class="ca-ser-overlay p-absolute">
                   <img class="w-100" src="assets/img/service/ca-overlay-servic-4.png" alt="">
                </div>
             </div>
             <!-- single servic-item -->
             <div ngxSlickItem class="ca-service-4-item br-7 fix p-relative z-index-1 mb-30">
                <img class="w-100" src="assets/img/service/ca-service-4.1.png" alt="">
                <div class="ca-servic-4-ic-box p-absolute">
                   <div class="ca-service-4-icon">
                      <span><img src="assets/img/icon/ca-service-ic-4.1.svg" alt=""></span>
                   </div>
                   <div class="ca-service-4-content">
                      <h3 class="ca-ser-4-title"><a href="javascript:void(0);">Express Delivery Services</a></h3>
                      <p>We offer state-of-the-art warehousing solutions, ensuring your inventory is managed with precision and care.</p>
                      <a href="javascript:void(0);" class="read-mor4">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
                <div class="ca-ser-overlay p-absolute">
                   <img class="w-100" src="assets/img/service/ca-overlay-servic-4.png" alt="">
                </div>
             </div>
             <!-- single servic-item -->
             <div ngxSlickItem class="ca-service-4-item br-7 fix p-relative z-index-1 mb-30">
                <img class="w-100" src="assets/img/service/ca-service-4.1.png" alt="">
                <div class="ca-servic-4-ic-box p-absolute">
                   <div class="ca-service-4-icon">
                      <span><img src="assets/img/icon/ca-service-ic-4.2.svg" alt=""></span>
                   </div>
                   <div class="ca-service-4-content">
                      <h3 class="ca-ser-4-title"><a href="javascript:void(0);">Freight Consolidation</a></h3>
                      <p>We offer state-of-the-art warehousing solutions, ensuring your inventory is managed with precision and care.</p>
                      <a href="javascript:void(0);" class="read-mor4">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
                <div class="ca-ser-overlay p-absolute">
                   <img class="w-100" src="assets/img/service/ca-overlay-servic-4.png" alt="">
                </div>
             </div>
          </ngx-slick-carousel>
       </div>
    </div>
 </section>