<div class="ca-team-iner pt-100 pb-70">
  <div class="container">
    <div class="ca-team-iner-content-3 ca-sec-content-3 text-center mb-60 wow tpFadeInUp" data-wow-duration="1.5s"
      data-wow-delay=".2s">
      <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">
        {{ teamData.subtitle | translate }}
      </h5>
      <h2 class="ca-section-title theme-black-3 fnw-600 pt-16 ca-text-cap">
        {{ teamData.title | translate }}
      </h2>
      <p class="pt-16">{{ teamData.description | translate }}</p>
    </div>

    @if (!loading && teamMembers.length) {
    <ngx-slick-carousel [config]="teamSlider" class="ca-team-slider">
      @for (member of teamMembers; track member.id) {
      <div ngxSlickItem>
        <div class="ca-team-inner p-relative z-index-1 wow tpFadeInUp">
          <div class="ca-team-inner-content p-relative fix">
            <div class="ca-team-iner-img">
              <img class="w-100" [src]="memberImage(member)" [alt]="member.name">
            </div>
          </div>
          <div class="ca-iner-content-team">
            <div class="ca-team-iner-content br-7">
              <div class="ca-team-iner-heading">
                <h5 class="ca-team-iner-title">
                  {{member.name}}
                </h5>
                <br>
                <h6>{{ member.role }}</h6>
                <hr>
                <p *ngIf="member.email">
                  <span><img src="assets/img/icon/ca-envelop3.3.svg" alt=""> {{member.email}}</span>
                </p>
                <p *ngIf="member.phone">
                  <span>
                    <img src="assets/img/icon/ca-ph3.2.svg" alt=""> {{member.phone}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </ngx-slick-carousel>
    }
  </div>
</div>
