<section class="ca-about-3 pt-100 pb-70">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 mb-30">
            <div class="ca-ab-iner p-relative z-index-1">
               <div class="ca-iner-review-text p-absolute theme-bg-3">
                  <h3 class="ca-counter-title fnw-700 pb-16"><span class="counter">25</span>K+</h3>
                  <span>Clients Positive Reviews</span>
               </div>
               <div class="row">
                  <div class="col-lg-6 col-md-6 mb-30">
                     <div class="ca-ab-iner-img wow img-custom-anim-left" data-wow-duration="1.5s" data-wow-delay=".2s">
                        <img class="w-100" src="assets/img/about/ca-about1.1.png" alt="">
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-30">
                     <div class="ca-ab-iner-img ca-ab-iner-img-2 wow img-custom-anim-left" data-wow-duration="1.5s"
                        data-wow-delay=".4s">
                        <img class="w-100 mt-60" src="assets/img/about/ca-about1.2.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6 mb-30">
            <div class="ca-ab-content3">
               <div class="ca-about-content-3 ca-sec-content-3">
                  <h5 class="ca-section-subtitle subtitle-bg-6 p-relative theme-color-3 br-50">Quiénes Somos</h5>
                  <h2 class="ca-section-title theme-black-3 fnw-600 pt-16 ca-text-cap">Comprometidos con la calidad,
                     <br>la precisión y la confianza
                  </h2>
                  <p class="pt-16 pb-32"> En Laboratorio Euronutec somos especialistas en análisis físico-químicos,
                     microbiológicos y nutricionales orientados a la industria agropecuaria y humana.
                  </p>
                  <p class="pb-32">
                     Nuestro propósito
                     es brindar resultados confiables que respalden la toma de decisiones técnicas, el cumplimiento
                     normativo y el desarrollo de productos de nuestros clientes.</p>
                  <p class=" pb-32">
                     Combinamos experiencia, infraestructura especializada y metodologías validadas para garantizar
                     procesos analíticos precisos y trazables en cada estudio realizado.</p>
               </div>
               <div class="ca-ab-item-check pt-4">
                  <!-- single-item -->
                  <div class="ca-ab-sngle-item">
                     <div class="ca-ab-sngle-item-ic">
                        <span><i class="fa-solid fa-check"></i></span>
                     </div>
                     <div class="ca-ab-sngle-item-content">
                        <h4 class="ca-item-ch-title">Personal técnico especializado</h4>
                     </div>
                  </div>
                  <!-- single-item -->
                  <div class="ca-ab-sngle-item">
                     <div class="ca-ab-sngle-item-ic">
                        <span><i class="fa-solid fa-check"></i></span>
                     </div>
                     <div class="ca-ab-sngle-item-content">
                        <h4 class="ca-item-ch-title">Metodologías estandarizadas</h4>
                     </div>
                  </div>
                  <!-- single-item -->
                  <div class="ca-ab-sngle-item">
                     <div class="ca-ab-sngle-item-ic">
                        <span><i class="fa-solid fa-check"></i></span>
                     </div>
                     <div class="ca-ab-sngle-item-content">
                        <h4 class="ca-item-ch-title">Procesos con control de calidad interno</h4>
                     </div>
                  </div>
                  <!-- single-item -->
                  <div class="ca-ab-sngle-item">
                     <div class="ca-ab-sngle-item-ic">
                        <span><i class="fa-solid fa-check"></i></span>
                     </div>
                     <div class="ca-ab-sngle-item-content">
                        <h4 class="ca-item-ch-title">Atención personalizada para cada cliente</h4>
                     </div>
                  </div>
               </div>
               <div class="ca-about-item3 cream-bg-3 p-relative">
                  <p>Trabajamos como un aliado estratégico para empresas que requieren información analítica confiable
                     para asegurar la calidad e inocuidad de sus productos.</p>
               </div>
               <div class="ca-about-3-btn">
                  <a href="javascript:void(0);" class="ca-btn-primary-3 theme-bg-3 text-white br-50">Conoce nuestros servicios<span><i
                           class="fa-solid fa-angle-right"></i></span></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>