<section class="video-play-section">
    <div class="container">
       <div class="ca-video-img br-7 p-relative z-index-1">
          <img class="w-100" src="assets/img/service/v-play.png" alt="">
          <a href="https://www.youtube.com/watch?v=OfHytg95Zq0" class="video-play-button popup-video">
          <span><i class="fa-solid fa-play"></i></span>
          </a>
          <div class="ca-counter-3 p-absolute">
             <!-- single counter area -->
             <div class="ca-counter-area-3">
                <h3 class="ca-counter-title text-white fnw-700 pb-12"><span class="counter" appCounter [countTo]="65">65</span>%</h3>
                <p>Lorem ipsum</p>
             </div>
             <!-- single counter area -->
             <div class="ca-counter-area-3">
                <h3 class="ca-counter-title text-white fnw-700 pb-12"><span class="counter" appCounter [countTo]="49">49</span>%</h3>
                <p>Lorem ipsum</p>
             </div>
             <!-- single counter area -->
             <div class="ca-counter-area-3">
                <h3 class="ca-counter-title text-white fnw-700 pb-12"><span class="counter" appCounter [countTo]="51">51</span>%</h3>
                <p>Lorem ipsum</p>
             </div>
          </div>
       </div>
    </div>
 </section>