<section class="ca-service-2 off-wh pt-100 pb-70">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 mb-30">
             <div class="ca-service-content-2 ca-sec-content-2 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
                <h5 class="ca-section-subtitle subtitle-bg-4 p-relative theme-color-2">Nuestros servicios</h5>
                <h2 class="ca-about-title theme-black-2 fnw-600 pt-16 ca-text-cap">End-to-End Supply Chain Solutions</h2>
                <p class="pt-16 pb-32">We offer a comprehensive suite of <br>logistics transport services designed <br> to streamline your supply chain.</p>
             </div>
             <div class="ca-service-2-btn aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                <a routerLink="/service" class="ca-btn-primary-22">Learn More<span><i class="fa-solid fa-arrow-right"></i></span></a>
             </div>
          </div>
          <div class="col-lg-9 mb-30">
             <div class="ca-service-bg aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000">
                <img class="w-100" src="assets/img/service/ca-service-bg-2.1.png" alt="">
             </div>
             <ngx-slick-carousel [config]="serviceSlider" class="ca-service-slier-2 aos-init aos-animate" data-aos="zoom-out-down" data-aos-duration="800">
                <!-- service-item -->
                <div ngxSlickItem class="ca-servic-2">
                   <div class="ca-servic-2-ic mb-24">
                      <span><img src="assets/img/icon/ca-ser-2.2.svg" alt=""></span>
                   </div>
                   <div class="ca-servic-2-content">
                      <h3 class="ca-servic-2-title pb-16">Freight Consolidation</h3>
                   </div>
                   <div class="ca-service-2-desc">
                      <p>Our freight forwarding services ensure seamless international shipments, while our customs.</p>
                      <a href="" class="seread-more">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
                <!-- service-item -->
                <div ngxSlickItem class="ca-servic-2">
                   <div class="ca-servic-2-ic mb-24">
                      <span><img src="assets/img/icon/ca-ser-2.3.svg" alt=""></span>
                   </div>
                   <div class="ca-servic-2-content">
                      <h3 class="ca-servic-2-title pb-16">Warehousing Solutions</h3>
                   </div>
                   <div class="ca-service-2-desc">
                      <p>Our freight forwarding services ensure seamless international shipments, while our customs.</p>
                      <a href="" class="seread-more">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
                <!-- service-item -->
                <div ngxSlickItem class="ca-servic-2 mb-30">
                   <div class="ca-servic-2-ic mb-24">
                      <span><img src="assets/img/icon/ca-ser-2.1.svg" alt=""></span>
                   </div>
                   <div class="ca-servic-2-content">
                      <h3 class="ca-servic-2-title pb-16">Inventory Management</h3>
                   </div>
                   <div class="ca-service-2-desc">
                      <p>Our freight forwarding services ensure seamless international shipments, while our customs.</p>
                      <a href="" class="seread-more">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
                <!-- service-item -->
                <div ngxSlickItem class="ca-servic-2 mb-30">
                   <div class="ca-servic-2-ic mb-24">
                      <span><img src="assets/img/icon/ca-ser-2.1.svg" alt=""></span>
                   </div>
                   <div class="ca-servic-2-content">
                      <h3 class="ca-servic-2-title pb-16">Inventory Management</h3>
                   </div>
                   <div class="ca-service-2-desc">
                      <p>Our freight forwarding services ensure seamless international shipments, while our customs.</p>
                      <a href="" class="seread-more">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
             </ngx-slick-carousel>
          </div>
       </div>
    </div>
 </section>