/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/aos/dist/aos.css";
@use "../public/assets/css/bootstrap.min.css";
@use "../public/assets/css/all.css";
@use "../public/assets/css/magnific-popup.css";
@use "../public/assets/css/slick.css";
@use "../public/assets/css/slick-theme.css";
@use "../public/assets/css/nice-select.css";
@use "../public/assets/css/typography.css";
@use "../public/assets/css/style.css";
@use "../public/assets/css/responsive.css";
// @use "../public/assets/css/aos.css";
