<section class="ca-testimonial-4 theme-black-bg-4 pt-100 pb-70 p-relative z-index-1">
    <div class="ca-shape ca-test-shape p-absolute"><img src="assets/img/shape/shape-1.1.png" alt=""></div>
    <div class="ca-service-shape p-absolute"><img src="assets/img/shape/ca-footer-shape3.1.png" alt=""></div>
    <div class="container">
       <div class="ca-blog-content-4 text-center mb-60 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
          <h5 class="ca-section-subtitle subtitle-bg-9 text-white p-relative br-50">Testimonial</h5>
          <h2 class="ca-section-title text-white fnw-600 pt-16 ca-text-cap">Success Stories from Our<br> Clients Feedback</h2>
       </div>
       <div class="row">
          <div class="ca-testimonials">
             <ngx-slick-carousel class="ca-testimonials-4" [config]="testimonial">
                <!-- single testimonial item -->
                <div ngxSlickItem class="ca-testimonial-card-3 ca-testimonial-card-4 br-7">
                   <div class="ca-quote-4">
                      <img src="assets/img/icon/ca-testimonialquote4.1.svg" alt="">
                   </div>
                   <div class="ca-test-4-rating">
                      <div class="ca-ratings-4">
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                      </div>
                   </div>
                   <div class="ca-test-4-content">
                      <p>“From ensuring seamless international shipments to providing efficient domestic deliveries, our clients commend our ability to handle their logistics challenges with precision and care.”</p>
                   </div>
                   <div class="ca-test-3-user mt-24">
                      <div class="ca-test-3-user-img">
                         <span><img src="assets/img/testimonial/ca-testimonial4.1.png" alt=""></span>
                      </div>
                      <div class="ca-test-4-user-name">
                         <h4 class="test-3-title"><a href="javascript:void(0);">Alesha Healy</a></h4>
                         <span>Cargon Operator</span>
                      </div>
                   </div>
                </div>
                <!-- single testimonial item -->
                <div ngxSlickItem class="ca-testimonial-card-3 ca-testimonial-card-4 br-7">
                   <div class="ca-quote-4">
                      <img src="assets/img/icon/ca-testimonialquote4.1.svg" alt="">
                   </div>
                   <div class="ca-test-4-rating">
                      <div class="ca-ratings-4">
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                      </div>
                   </div>
                   <div class="ca-test-4-content">
                      <p>“We take pride in the positive feedback we receive businesses <br> across various industries who rely on our expertise to meet their logistics needs. Our clients consistently highlight our reliable.”</p>
                   </div>
                   <div class="ca-test-3-user mt-24">
                      <div class="ca-test-3-user-img">
                         <span><img src="assets/img/testimonial/ca-testimonial4.2.png" alt=""></span>
                      </div>
                      <div class="ca-test-4-user-name">
                         <h4 class="test-3-title"><a href="javascript:void(0);">Virginia Dea</a></h4>
                         <span>Cargon Operator</span>
                      </div>
                   </div>
                </div>
                <!-- single testimonial item -->
                <div ngxSlickItem class="ca-testimonial-card-3 ca-testimonial-card-4 br-7">
                   <div class="ca-quote-4">
                      <img src="assets/img/icon/ca-testimonialquote4.1.svg" alt="">
                   </div>
                   <div class="ca-test-4-rating">
                      <div class="ca-ratings-4">
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                         <span><i class="fa-solid fa-star"></i></span>
                      </div>
                   </div>
                   <div class="ca-test-4-content">
                      <p>“From ensuring seamless international shipments to providing efficient domestic deliveries, our clients commend our ability to handle their logistics challenges with precision and care.”</p>
                   </div>
                   <div class="ca-test-3-user mt-24">
                      <div class="ca-test-3-user-img">
                         <span><img src="assets/img/testimonial/ca-testimonial4.1.png" alt=""></span>
                      </div>
                      <div class="ca-test-4-user-name">
                         <h4 class="test-3-title"><a href="javascript:void(0);">Alesha Healy</a></h4>
                         <span>Cargon Operator</span>
                      </div>
                   </div>
                </div>
             </ngx-slick-carousel>
          </div>
       </div>
    </div>
 </section>