<ngx-slick-carousel [config]="sliderFor" class="slider-for slider-2-img">
    <!-- single slider item -->
    <div ngxSlickItem class="slider-text slider-2 p-relative z-index-1 pt-208 pb-70 fix" style="background-image: url(./assets/img/slider/ca-slider-2.2.png);">
       <div class="ca-slider-2-shape p-absolute shape-2-slider"><img src="assets/img/shape/slider-shape-2.1.png" alt=""></div>
       <div class="ca-slider-2-shape p-absolute shape-1-slider"><img src="assets/img/shape/slider-shape-2.2.png" alt=""></div>
       <div class="ca-slider-2-shape p-absolute shape-3-slider"><img src="assets/img/shape/ca-black-shpae-2.png" alt=""></div>
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-8 mb-30">
                <div class="ca-slider-content-2 p-relative">
                   <h5 class="ca-section-subtitle subtitle-bg-5 text-white theme-color-2">Cargon-Transport & Logistics</h5>
                   <h1 class="ca-slider-heading text-white pt-20 pb-20 ca-text-cap">Seamless Transport Solutions for Your<br> We Are Business </h1>
                   <p class="pb-32 slider-sub-content">Test Whether you're navigating complex international shipments or need streamlined local deliveries, we are your trusted partner.</p>
                   <div class="ca-slider-2-btn d-flex mb-60">
                      <div class="ca-slider-btn-2">
                         <a href="javascript:void(0);" class="ca-btn-primary-22 mr-16">Get A Free Quote<span><i class="fa-solid fa-arrow-right"></i></span></a>
                      </div>
                      <div class="ca-slider-2-video">
                         <a href="https://www.youtube.com/watch?v=x-RUZeNbqL4" class="video-play-button-2 popup-video"> <span></span></a>
                         <div class="ca-slider-video-text-2">
                            <a href="https://www.youtube.com/watch?v=x-RUZeNbqL4" class="popup-video">How We Work</a>
                         </div>
                      </div>
                   </div>
                   <div class="ca-slider-team">
                      <h3 class="slider-team-title text-white mb-20">Our Team Always Ready For You</h3>
                      <div class="ca-slider-2-team">
                         <div class="ca-slider-team-img">
                            <img src="assets/img/shape/team-shape-2.1.png" alt=""> 
                         </div>
                         <div class="ca-slider-team-review">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span class="re-heading">5.0</span>
                            <p class="review-text">246k Reviews</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- single slider item -->
    <div ngxSlickItem class="slider-text slider-2 p-relative z-index-1 pt-208 pb-70 fix" style="background-image: url(./assets/img/slider/ca-slider-2.3.png);">
       <div class="ca-slider-2-shape p-absolute shape-2-slider"><img src="assets/img/shape/slider-shape-2.1.png" alt=""></div>
       <div class="ca-slider-2-shape p-absolute shape-1-slider"><img src="assets/img/shape/slider-shape-2.2.png" alt=""></div>
       <div class="ca-slider-2-shape p-absolute shape-3-slider"><img src="assets/img/shape/ca-black-shpae-2.png" alt=""></div>
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-8 mb-30">
                <div class="ca-slider-content-2 p-relative">
                   <h5 class="ca-section-subtitle subtitle-bg-5 text-white theme-color-2">Cargon-Transport & Logistics</h5>
                   <h1 class="ca-slider-heading text-white pt-20 pb-20 ca-text-cap">Seamless Transport Solutions for Your<br> We Are Business </h1>
                   <p class="pb-32 slider-sub-content">Test Whether you're navigating complex international shipments or need streamlined local deliveries, we are your trusted partner.</p>
                   <div class="ca-slider-2-btn d-flex mb-60">
                      <div class="ca-slider-btn-2">
                         <a href="javascript:void(0);" class="ca-btn-primary-22 mr-16">Get A Free Quote<span><i class="fa-solid fa-arrow-right"></i></span></a>
                      </div>
                      <div class="ca-slider-2-video">
                         <a href="https://www.youtube.com/watch?v=x-RUZeNbqL4" class="video-play-button-2 popup-video"> <span></span></a>
                         <div class="ca-slider-video-text-2">
                            <span> How We Work</span>
                         </div>
                      </div>
                   </div>
                   <div class="ca-slider-team">
                      <h3 class="slider-team-title text-white mb-20">Our Team Always Ready For You</h3>
                      <div class="ca-slider-2-team">
                         <div class="ca-slider-team-img">
                            <img src="assets/img/shape/team-shape-2.1.png" alt=""> 
                         </div>
                         <div class="ca-slider-team-review">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span class="re-heading">5.0</span>
                            <p class="review-text">246k Reviews</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- single slider item -->
    <div ngxSlickItem class="slider-text slider-2 p-relative z-index-1 pt-208 pb-70 fix" style="background-image: url(./assets/img/slider/ca-slider-2.2.png);">
       <div class="ca-slider-2-shape p-absolute shape-2-slider"><img src="assets/img/shape/slider-shape-2.1.png" alt=""></div>
       <div class="ca-slider-2-shape p-absolute shape-1-slider"><img src="assets/img/shape/slider-shape-2.2.png" alt=""></div>
       <div class="ca-slider-2-shape p-absolute shape-3-slider"><img src="assets/img/shape/ca-black-shpae-2.png" alt=""></div>
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-8 mb-30">
                <div class="ca-slider-content-2 p-relative">
                   <h5 class="ca-section-subtitle subtitle-bg-5 text-white theme-color-2">Cargon-Transport & Logistics</h5>
                   <h1 class="ca-slider-heading text-white pt-20 pb-20 ca-text-cap">Seamless Transport Solutions for Your<br> We Are Business </h1>
                   <p class="pb-32 slider-sub-content">Test Whether you're navigating complex international shipments or need streamlined local deliveries, we are your trusted partner.</p>
                   <div class="ca-slider-2-btn d-flex mb-60">
                      <div class="ca-slider-btn-2">
                         <a href="javascript:void(0);" class="ca-btn-primary-22 mr-16">Get A Free Quote<span><i class="fa-solid fa-arrow-right"></i></span></a>
                      </div>
                      <div class="ca-slider-2-video">
                         <a href="https://www.youtube.com/watch?v=x-RUZeNbqL4" class="video-play-button-2 popup-video"> <span></span></a>
                         <div class="ca-slider-video-text-2">
                            <span> How We Work</span>
                         </div>
                      </div>
                   </div>
                   <div class="ca-slider-team">
                      <h3 class="slider-team-title text-white mb-20">Our Team Always Ready For You</h3>
                      <div class="ca-slider-2-team">
                         <div class="ca-slider-team-img">
                            <img src="assets/img/shape/team-shape-2.1.png" alt=""> 
                         </div>
                         <div class="ca-slider-team-review">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span class="re-heading">5.0</span>
                            <p class="review-text">246k Reviews</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- single slider item -->
    <div ngxSlickItem class="slider-text slider-2 p-relative z-index-1 pt-208 pb-70 fix" style="background-image: url(./assets/img/slider/ca-slider-2.3.png);">
       <div class="ca-slider-2-shape p-absolute shape-2-slider"><img src="assets/img/shape/slider-shape-2.1.png" alt=""></div>
       <div class="ca-slider-2-shape p-absolute shape-1-slider"><img src="assets/img/shape/slider-shape-2.2.png" alt=""></div>
       <div class="ca-slider-2-shape p-absolute shape-3-slider"><img src="assets/img/shape/ca-black-shpae-2.png" alt=""></div>
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-8 mb-30">
                <div class="ca-slider-content-2 p-relative">
                   <h5 class="ca-section-subtitle subtitle-bg-5 text-white theme-color-2">Cargon-Transport & Logistics</h5>
                   <h1 class="ca-slider-heading text-white pt-20 pb-20 ca-text-cap">Seamless Transport Solutions for Your<br> We Are Business </h1>
                   <p class="pb-32 slider-sub-content">Test Whether you're navigating complex international shipments or need streamlined local deliveries, we are your trusted partner.</p>
                   <div class="ca-slider-2-btn d-flex mb-60">
                      <div class="ca-slider-btn-2">
                         <a href="javascript:void(0);" class="ca-btn-primary-22 mr-16">Get A Free Quote<span><i class="fa-solid fa-arrow-right"></i></span></a>
                      </div>
                      <div class="ca-slider-2-video">
                         <a href="https://www.youtube.com/watch?v=x-RUZeNbqL4" class="video-play-button-2 popup-video"> <span></span></a>
                         <div class="ca-slider-video-text-2">
                            <span> How We Work</span>
                         </div>
                      </div>
                   </div>
                   <div class="ca-slider-team">
                      <h3 class="slider-team-title text-white mb-20">Our Team Always Ready For You</h3>
                      <div class="ca-slider-2-team">
                         <div class="ca-slider-team-img">
                            <img src="assets/img/shape/team-shape-2.1.png" alt=""> 
                         </div>
                         <div class="ca-slider-team-review">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span class="re-heading">5.0</span>
                            <p class="review-text">246k Reviews</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</ngx-slick-carousel>
 <ngx-slick-carousel [config]="sliderNav" class="slider-nav sm-slider-img d-none d-md-block">
    <div ngxSlickItem><img src="assets/img/slider/sm-slider-thumb-2.2.png" alt="Thumbnail 1"></div>
    <div ngxSlickItem><img src="assets/img/slider/sm-slider-thumb-2.3.png" alt="Thumbnail 2"></div>
    <div ngxSlickItem><img src="assets/img/slider/sm-slider-thumb-2.2.png" alt="Thumbnail 3"></div>
    <div ngxSlickItem><img src="assets/img/slider/sm-slider-thumb-2.3.png" alt="Thumbnail 3"></div>
    <!-- More thumbnails -->
 </ngx-slick-carousel>