<section class="ca-blog pt-100 pb-70">
    <div class="container">
       <div class="ca-blog-content ca-sec-content-2 text-center mb-60 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
          <h5 class="ca-section-subtitle subtitle-bg-4 p-relative theme-color-2">Our Blog</h5>
          <h2 class="ca-section-title theme-black-2 fnw-600 pt-16">Reliable Freight Forwarding Services</h2>
          <p class="pt-16">Explore the unique challenges of e-commerce logistics and how to overcome them. Find out how to <br> handle high order volumes, ensure fast delivery, & provide exceptional customer service.</p>
       </div>
       <div class="row">
          <!-- single-blog-item -->
          <div class="col-lg-6 col-md-6">
             <div class="ca-team-box ca-blog-box-2 cream-bg-2 br-7 fix p-relative z-index-1 d-flex mb-30 aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                <div class="ca-team-img ca-blogimg-2">
                   <a routerLink="/blog-single"> <img class="" src="assets/img/blog/ca-blog-2.1.png" alt=""></a>
                </div>
                <div class="ca-blog-box-content ca-blog-box-content-2">
                   <div class="ca-b-meta ca-b-meta-2">
                      <!-- blog meta box -->
                      <a href="" class="ca-blog-meta ca-blog-meta-2">
                         <div class="ca-meta-icon">
                            <span><img src="assets/img/icon/ca-user2.1.svg" alt=""></span>
                         </div>
                         <div class="ca-meta-title ca-meta-title-2">
                            <span>Henry Nicolls</span>
                         </div>
                      </a>
                      <!-- blog meta box -->
                      <a href="" class="ca-blog-meta ca-blog-meta-2">
                         <div class="ca-meta-icon">
                            <span><img src="assets/img/icon/ca-calender2.1.svg" alt=""></span>
                         </div>
                         <div class="ca-meta-title ca-meta-title-2">
                            <span>March 05, 2024</span>
                         </div>
                      </a>
                   </div>
                   <h4 class="ca-blog-title fnw-600"><a href="javascript:void(0);">Maximizing Efficiency in Supply <br> Chain Management</a></h4>
                   <p>From AI and automation to sustainability <br> practices, learn how these innovations.</p>
                   <div class="blog-rearmore">
                      <a routerLink="/blog-single" class="read-more">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
             </div>
             <!-- single blog item -->
             <div class="ca-team-box ca-blog-box-2 cream-bg-2 br-7 fix p-relative z-index-1 d-flex mb-30 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
                <div class="ca-team-img ca-blogimg-2">
                   <a routerLink="/blog-single"><img class="" src="assets/img/blog/ca-blog-2.2.png" alt=""></a>
                </div>
                <div class="ca-blog-box-content ca-blog-box-content-2">
                   <div class="ca-b-meta ca-b-meta-2">
                      <!-- blog meta box -->
                      <a href="" class="ca-blog-meta ca-blog-meta-2">
                         <div class="ca-meta-icon">
                            <span><img src="assets/img/icon/ca-user2.1.svg" alt=""></span>
                         </div>
                         <div class="ca-meta-title ca-meta-title-2">
                            <span>Henry Nicolls</span>
                         </div>
                      </a>
                      <!-- blog meta box -->
                      <a href="" class="ca-blog-meta ca-blog-meta-2">
                         <div class="ca-meta-icon">
                            <span><img src="assets/img/icon/ca-calender2.1.svg" alt=""></span>
                         </div>
                         <div class="ca-meta-title ca-meta-title-2">
                            <span>March 05, 2024</span>
                         </div>
                      </a>
                   </div>
                   <h4 class="ca-blog-title fnw-600"><a href="javascript:void(0);">How Technology is Revolutionizing <br>the Logistics Industry</a></h4>
                   <p>Explore how innovations like IoT, blockchain,<br> and big data analytics are revolutionizing.</p>
                   <div class="blog-rearmore">
                      <a routerLink="/blog-single" class="read-more">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
             </div>
          </div>
          <!-- single-blog-item -->
          <div class="col-lg-6 col-md-6">
             <div class="ca-team-box ca-blog-box-2 cream-bg-2 br-7 fix p-relative z-index-1 mb-30 aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200">
                <div class="ca-team-img ca-blogimg-2 ca-lar-img-2">
                   <a routerLink="/blog-single"> <img class="w-100" src="assets/img/blog/ca-blog-2.3.png" alt=""></a>
                </div>
                <div class="ca-blog-box-content ca-blog-box-content-2">
                   <div class="ca-b-meta ca-b-meta-2">
                      <!-- blog meta box -->
                      <a href="" class="ca-blog-meta ca-blog-meta-2">
                         <div class="ca-meta-icon">
                            <span><img src="assets/img/icon/ca-user2.1.svg" alt=""></span>
                         </div>
                         <div class="ca-meta-title ca-meta-title-2">
                            <span>Henry Nicolls</span>
                         </div>
                      </a>
                      <!-- blog meta box -->
                      <a href="" class="ca-blog-meta ca-blog-meta-2">
                         <div class="ca-meta-icon">
                            <span><img src="assets/img/icon/ca-calender2.1.svg" alt=""></span>
                         </div>
                         <div class="ca-meta-title ca-meta-title-2">
                            <span>March 05, 2024</span>
                         </div>
                      </a>
                   </div>
                   <h4 class="ca-blog-title fnw-600"><a href="javascript:void(0);">Effective Warehouse Management: Best Practices and<br> Strategies  Eco-Friendly Practices for Your Business</a></h4>
                   <p>Gain insights into effective warehouse management strategies that <br>maximize space, improve accuracy, and boost productivity.</p>
                   <div class="blog-rearmore">
                      <a routerLink="/blog-single" class="read-more">Read More <span><i class="fa-solid fa-angle-right"></i></span></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>